{% extends 'core/nutritionist-layout.html' %}
{% block content %}

<div class="content-wrapper" style="min-height: 620px; height: auto; margin-top: 57px;">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">City Nutritionist Metrics and Threshold</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'datapreprocessing:index' %}">Metrics and Threshold</a></li>
                        <li class="breadcrumb-item active">Edit Metric</li>
                    </ol>
                </div>
            </div>
        </div>
{% include 'core/helpers/messages.html' %}
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <div class="card card-primary">
                        <div class="card-header p-0">
                            <h3 class="card-title p-3">Add Metric</h3>
                        </div>
                        <div class="card-body">

    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label>Metric Name:</label>
            <select class="form-control select2" style="width: 100%;" name="metric">
                <optgroup label="Health Care Waste Management">
                    {% for x in hcwm %}
                        <option value="Health Care Waste Management | {{ x.verbose_name }}">{{ x.verbose_name }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Family Profile">
                    {% for x in family_profile %}
                        <option value="Family Profile | {{ x.verbose_name }}">{{ x.verbose_name }}</option>
                    {% endfor %}
                    <optgroup label="Educational Attainment">
                    {% for x in educ %}
                        <option value="Family Profile | {{ x }}">{{ x }}</option>
                    {% endfor %}
                    </optgroup>
                    <optgroup label="Toilet Type">
                    {% for x in toilet %}
                        <option value="Family Profile | {{ x }}">{{ x }}</option>
                    {% endfor %}
                    </optgroup>
                    <optgroup label="Water Source">
                    {% for x in water %}
                        <option value="Family Profile | {{ x }}">{{ x }}</option>
                    {% endfor %}
                    </optgroup>
                    <optgroup label="Food Production">
                    {% for x in food %}
                        <option value="Family Profile | {{ x }}">{{ x }}</option>
                    {% endfor %}
                    </optgroup>
                </optgroup>
                <optgroup label="Unemployment Rate">
                    <option>Unemployment Rate</option>
                </optgroup>
                <optgroup label="Informal Settlers">
                    {% for x in informal_settlers %}
                        <option value="Informal Settlers | {{ x.verbose_name }}">{{ x.verbose_name }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Maternal Care">
                    {% for x in maternal %}
                        <option value="Maternal Care | {{ x.verbose_name }}">{{ x.verbose_name }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Immunization - Male">
                    {% for x in immunization %}
                        <option value="Immunization | {{ x.verbose_name }} | Male">{{ x.verbose_name }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Immunization - Female">
                    {% for x in immunization %}
                        <option value="Immunization | {{ x.verbose_name }} | Female">{{ x.verbose_name }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Malaria - Male">
                    {% for x in malaria %}
                        <option value="Malaria | {{ x.verbose_name }} | Male">{{ x.verbose_name }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Malaria - Female">
                    {% for x in malaria %}
                        <option value="Malaria | {{ x.verbose_name }} | Female">{{ x.verbose_name }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Tuberculosis - Male">
                    {% for x in tb %}
                        <option value="Tuberculosis | {{ x.verbose_name }} | Male">{{ x.verbose_name }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Tuberculosis - Female">
                    {% for x in tb %}
                        <option value="Tuberculosis | {{ x.verbose_name }} | Female">{{ x.verbose_name }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Schistosomiasis - Male">
                    {% for x in schisto %}
                        <option value="Schistosomiasis | {{ x.verbose_name }} | Male">{{ x.verbose_name }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Schistosomiasis - Female">
                    {% for x in schisto %}
                        <option value="Schistosomiasis | {{ x.verbose_name }} | Female">{{ x.verbose_name }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Flariasis - Male">
                    {% for x in flariasis %}
                        <option value="Flariasis | {{ x.verbose_name }} | Male">{{ x.verbose_name }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Flariasis - Female">
                    {% for x in flariasis %}
                        <option value="Flariasis | {{ x.verbose_name }} | Female">{{ x.verbose_name }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Leprosy - Male">
                    {% for x in leprosy %}
                        <option value="Leprosy | {{ x.verbose_name }} | Male">{{ x.verbose_name }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Leprosy - Female">
                    {% for x in leprosy %}
                        <option value="Leprosy | {{ x.verbose_name }} | Female">{{ x.verbose_name }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Child Care - Male">
                    {% for x in child_care %}
                        <option value="Child Care | {{ x.verbose_name }} | Male">{{ x.verbose_name }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Child Care - Female">
                    {% for x in child_care %}
                        <option value="ChildCare | {{ x.verbose_name }} | Female">{{ x.verbose_name }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="STI Surveillance">
                    {% for x in sti %}
                        <option value="STI Surveillance | {{ x.verbose_name }}">{{ x.verbose_name }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Nutritional Status - Male">
                    {% for x in nutritional_statuses %}
                        <option value="Nutritional Status | {{ x.name }} | Male">{{ x.name }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Nutritional Status - Female">
                    {% for x in nutritional_statuses %}
                        <option value="Nutritional Status | {{ x.name }} | Female">{{ x.name }}</option>
                    {% endfor %}
                </optgroup>
            </select>
        </div>
            <script>
                    $('.select2').select2();
            </script>
        {% include 'core/helpers/form_template.html' %}
        <input class="btn btn-primary col-2" type="submit">
    </form>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    $(document).ready(function() {

        var dropdown = $("select[name=metric]");

        dropdown.change(function() {
            var metric = $(this).val();
        });
    });
</script>
{% endblock %}