<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Metric</title>
</head>
<body>
    <h1>Add Metric</h1>

    <form method="POST">
        {% csrf_token %}
        <label>
            <select name="metric">
                <optgroup label="Health Care Waste Management">
                    {% for x in hcwm %}
                        <option>{{ x.verbose_name }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Family Profile">
                    {% for x in family_profile %}
                        <option>{{ x.verbose_name }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Unemployment Rate">
                    <option>Unemployment Rate</option>
                </optgroup>
                <optgroup label="Informal Settlers">
                    {% for x in informal_settlers %}
                        <option>{{ x.verbose_name }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Maternal Care">
                    {% for x in maternal %}
                        <option>{{ x.verbose_name }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Immunization - Male">
                    {% for x in immunization %}
                        <option value="{{ x.verbose_name }} - Male">{{ x.verbose_name }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Immunization - Female">
                    {% for x in immunization %}
                        <option value="{{ x.verbose_name }} - Female">{{ x.verbose_name }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Malaria - Male">
                    {% for x in malaria %}
                        <option value="{{ x.verbose_name }} - Male">{{ x.verbose_name }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Malaria - Female">
                    {% for x in malaria %}
                        <option> value="{{ x.verbose_name }} - Female"{{ x.verbose_name }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Tuberculosis - Male">
                    {% for x in tb %}
                        <option value="{{ x.verbose_name }} - Male">{{ x.verbose_name }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Tuberculosis - Female">
                    {% for x in tb %}
                        <option value="{{ x.verbose_name }} - Female">{{ x.verbose_name }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Schistosomiasis - Male">
                    {% for x in schisto %}
                        <option value="{{ x.verbose_name }} - Male">{{ x.verbose_name }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Schistosomiasis - Female">
                    {% for x in schisto %}
                        <option value="{{ x.verbose_name }} - Female">{{ x.verbose_name }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Flariasis - Male">
                    {% for x in flariasis %}
                        <option value="{{ x.verbose_name }} - Male">{{ x.verbose_name }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Flariasis - Female">
                    {% for x in flariasis %}
                        <option value="{{ x.verbose_name }} - Female">{{ x.verbose_name }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Leprosy - Male">
                    {% for x in leprosy %}
                        <option value="{{ x.verbose_name }} - Male">{{ x.verbose_name }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Leprosy - Female">
                    {% for x in leprosy %}
                        <option value="{{ x.verbose_name }} - Female">{{ x.verbose_name }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Child Care - Male">
                    {% for x in child_care %}
                        <option value="{{ x.verbose_name }} - Male">{{ x.verbose_name }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Child Care - Female">
                    {% for x in child_care %}
                        <option value="{{ x.verbose_name }} - Female">{{ x.verbose_name }}</option>
                    {% endfor %}
                </optgroup>
            </select>
        </label>
        {% include 'core/helpers/form_template.html' %}
        <input type="submit">
    </form>
</body>
</html>