{% extends template_values %}
{% block content %}

{% load static %}
<script src="{% static 'core/js/highcharts.js' %}"></script>
<script src="{% static 'datapreprocessing/js/default_metrics.js' %}"></script>
<script src="{% static 'datamining/js/revised_metrics.js' %}"></script>
<script src="{% static 'datapreprocessing/js/display_graph.js' %}"></script>
<div class="content-wrapper" style="min-height: 620px; height: auto; margin-top: 57px;">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">
                        {% if profile.user_type == 'Nutritionist' %}
                        City Nutritionist
                        {% else %}
                        City Program Coordinator
                        {% endif %}
                        Metrics and Thresholds</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            {% if profile.user_type == 'Nutritionist' %}
                            Nutritionist
                            {% else %}
                            Program Coordinator
                            {% endif %}
                            Metrics and Thresholds</li>
                    </ol>
                </div>
            </div>
        </div>
        {% include 'core/helpers/messages.html' %}
    </div>
    <section class="content">
        <div class="container-fluid">

<div class="row">

<div class="col-6">

<div class="card" style="height: 450px;">
<div class="card-body p-2">
<div id="graph">

    <h5 style="text-align: center; padding-top: 200px;">Please select a metric below.</h5>

</div>
</div>
</div>
</div>

<div class="col-6">
<div class="card" style="height: 450px;">
<div id="table">
    <h5 style="text-align: center; padding-top: 200px;">Please select a metric below.</h5>

</div>

</div>
</div>

</div>
{#                    <div class="card card-primary">#}
{#                        <div class="card-header d-flex p-0" style="cursor: move;">#}
{#                            <h3 class="card-title p-3">Default Metrics</h3>#}
{#                        </div>#}
{#                        <table class="table">#}
{#                            <thead>#}
{#                            <tr>#}
{#                                <th></th>#}
{#                                <th>Status</th>#}
{#                                <th>Action</th>#}
{#                            </tr>#}
{#                            </thead>#}
{#                            <tbody>#}
{#                            <tr>#}
{#                                <td>City Nutritional Status</td>#}
{#                                {% if not has_nutritional %}#}
{#                                    <td class="text-warning">Not yet set</td>#}
{#                                    <td><a class="btn btn-primary btn-sm" href="{% url 'datapreprocessing:set_nutritional_status' %}">Set Thresholds</a></td>#}
{#                                {% else %}#}
{#                                    <td class="text-success">Completed</td>#}
{#                                    <td><button data-toggle="modal" data-target="#viewDefault" class="btn btn-primary btn-sm default-report" data-report="ns">View Thresholds</button></td>#}
{#                                {% endif %}#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td>City Micronutrient Supplementation</td>#}
{#                                {% if not has_micronutrient %}#}
{#                                    <td class="text-warning">Not yet set</td>#}
{#                                    <td><a class="btn btn-primary btn-sm" href="{% url 'datapreprocessing:set_micronutrient' %}">Set Thresholds</a></td>#}
{#                                {% else %}#}
{#                                    <td class="text-success">Completed</td>#}
{#                                    <td><button data-toggle="modal" data-target="#viewDefault" class="btn btn-primary btn-sm default-report" data-report="micro">View Thresholds</button></td>#}
{#                                {% endif %}#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td>City Maternal Care</td>#}
{#                                {% if not has_maternal %}#}
{#                                    <td class="text-warning">Not yet set</td>#}
{#                                    <td><a class="btn btn-primary btn-sm" href="{% url 'datapreprocessing:set_maternal' %}">Set Thresholds</a></td>#}
{#                                {% else %}#}
{#                                    <td class="text-success">Completed</td>#}
{#                                    <td><button data-toggle="modal" data-target="#viewDefault" class="btn btn-primary btn-sm default-report" data-report="maternal">View Thresholds</button></td>#}
{#                                {% endif %}#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td>City Children Care</td>#}
{#                                {% if not has_child_care %}#}
{#                                    <td class="text-warning">Not yet set</td>#}
{#                                    <td><a class="btn btn-primary btn-sm" href="{% url 'datapreprocessing:set_child_care' %}">Set Thresholds</a></td>#}
{#                                {% else %}#}
{#                                    <td class="text-success">Completed</td>#}
{#                                    <td><button data-toggle="modal" data-target="#viewDefault" class="btn btn-primary btn-sm default-report" data-report="cc">View Thresholds</button></td>#}
{#                                {% endif %}#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td>Socioeconomic Status</td>#}
{#                                {% if not has_socioeconomic %}#}
{#                                    <td class="text-warning">Not yet set</td>#}
{#                                    <td><a class="btn btn-primary btn-sm" href="{% url 'datapreprocessing:set_socioeconomic' %}">Set Thresholds</a></td>#}
{#                                {% else %}#}
{#                                    <td class="text-success">Completed</td>#}
{#                                    <td><button data-toggle="modal" data-target="#viewDefault" class="btn btn-primary btn-sm default-report" data-report="socio">View Thresholds</button></td>#}
{#                                {% endif %}#}
{#                            </tr>#}
{#                            </tbody>#}
{#                        </table>#}
{#                    </div>#}

            <div class="row">
                <div class="col-12">
                    <div class="card card-primary">
                        <div class="card-header d-flex p-0" style="cursor: move;">
                            <h3 class="card-title p-3">Metrics and Thresholds as of {{ date }}</h3>
                            <ul class="nav nav-pills ml-auto p-2"></ul>
                        </div>
                        <div class="card-body">
                            <table id="metricsthresholds" class="table table-bordered table-hover dataTable">
                                <thead>
                                    <tr>
                                        <th style="width: 12%;">Source</th>
                                        <th>Data Point</th>
                                        <th style="width: 12%;">Average/Total</th>
                                        <th style="width: 12%;">Type</th>
                                        <th style="width: 12%;">Threshold</th>
                                        <th style="width: 12%;">Status</th>
{#                                        <th>Predicted Value Next Month/Year</th>#}
{#                                        <th>Prediction Status</th>#}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if metrics.count == 0 %}
                                    <tr style="text-align: center;">
                                        <td colspan="4">You have no metrics set yet</td>
                                    </tr>
                                    {% else %}
                                        {% for x in metrics %}
                                            <tr class="display" style="cursor: pointer;" data-value="{{ x.get_value_over_time }}" data-variables="{{ x.json_data }}">
                                                <td class="source">{{ x.get_source }}</td>
                                                <td class="point">{{ x.get_data_point }}</td>
                                                <td>{{ x.get_total_value|floatformat:"-2" }}</td>
                                                <td>{{ x.get_type }}</td>
                                                <td>{{ x.threshold|floatformat }}</td>
                                                {% if x.is_alarming|yesno:"Critical,Not Critical" == "Critical" %}<td style="vertical-align: middle;" class="text-danger">
                                                <i class="fa fa-exclamation-circle"></i> Critical
                                            </td>{% else %}<td>Not Critical</td>{% endif%}
{#                                                <td>{{ x.predicted_value|floatformat:"-2" }}</td>#}
{#                                                <td>{{ x.is_predicted_critical|yesno:"Predicted Critical,Not Predicted Critical" }}</td>#}
                                            </tr>
                                        {% endfor %}
                                    {% endif %}

                                </tbody>
                            </table>
                            <script>
                                $(document).ready(function() {
                                    $('#metricsthresholds').DataTable({
                                        "paging": true,
                                        "lengthChange": true,
                                        "ordering": true,
                                        "autoWidth": false
                                    });
                                });




                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal fade" id="viewDefault" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">View Thresholds</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body default-body">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th>Field</th>
                <th>Threshold</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody id="metric-table">

            </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<style>
    td {
        vertical-align: middle !important;
    }
</style>
{% endblock %}