{% extends 'core/nutritionist-layout.html' %}
{% block content %}

<div class="content-wrapper" style="min-height: 620px; height: auto; margin-top: 57px;">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">City Nutritionist Metrics and Thresholds</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">Metrics and Thresholds</li>
                    </ol>
                </div>
            </div>
        </div>
        {% include 'core/helpers/messages.html' %}
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary">
                        <div class="card-header d-flex p-0" style="cursor: move;">
                            <h3 class="card-title p-3">Default Metrics</h3>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>City Nutritional Status</td>
                                <td>TODO</td>
                                <td>TODO</td>
                            </tr>
                            <tr>
                                <td>City Micronutrient Supplementation</td>
                                <td>TODO</td>
                                <td>TODO</td>
                            </tr>
                            <tr>
                                <td>City Maternal Care</td>
                                <td>TODO</td>
                                <td>TODO</td>
                            </tr>
                            <tr>
                                <td>City Children Care</td>
                                <td>TODO</td>
                                <td>TODO</td>
                            </tr>
                            <tr>
                                <td>Socioeconomic Status</td>
                                <td>TODO</td>
                                <td>TODO</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card card-primary">
                        <div class="card-header d-flex p-0" style="cursor: move;">
                            <h3 class="card-title p-3">Metrics and Thresholds as of {{ date }}</h3>
                            <ul class="nav nav-pills ml-auto p-2">
                                <li class="nav-item">
                                    <a class="nav-link btn-default" style="text-align: center; color: #004876;" href="{% url 'datapreprocessing:add_metric' %}">Add a Metric</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <table id="metricsthresholds" class="table table-bordered table-hover dataTable">
                                <thead>
                                    <tr>
                                        <th style="width: 18%">Source</th>
                                        <th style="width: 18%">Data Point</th>
                                        <th style="width: 18">Gender</th>
                                        <th style="width: 9%">Value/Total</th>
                                        <th style="">Unit</th>
                                        <th style="width: 9%">Threshold</th>
                                        <th style="width: 9%">Status</th>
                                        <th style="width: 19%">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if metrics.count == 0 %}
                                    <tr style="text-align: center;">
                                        <td colspan="4">You have no metrics set yet</td>
                                    </tr>
                                    {% else %}
                                    {% for metric in metrics %}
                                    {% if metric.get_total_value >= metric.threshold %}
                                    <tr>
                                        <td>{{ metric.get_source }}</td>
                                        <td style="text-transform: capitalize;">{{ metric.get_data_point }}</td>
                                        <td>{{ metric.get_sex }}</td>
                                        <td>{{ metric.get_total_value }}</td>
                                        <td>{{ metric.unit }}</td>
                                        <td>{{ metric.threshold }}</td>
                                        <td style="font-weight: bold; color:#f56954"><i class="fa fa-exclamation-circle"></i> Alarming</td>
                                        <td style="text-align: center;"><a href="{% url 'datapreprocessing:edit_metric' metric.id %}" class="btn btn-primary btn-sm col-5">Edit</a> <a href="{% url 'datapreprocessing:delete_metric' metric.id %}" class="btn btn-danger btn-sm col-5">Delete</a></td>
                                    </tr>
                                    {% else %}
                                    <tr>
                                        <td>{{ metric.get_source }}</td>
                                        <td style="text-transform: capitalize;">{{ metric.get_data_point }}</td>
                                        <td>{{ metric.get_sex }}</td>
                                        <td>{{ metric.get_total_value }}</td>
                                        <td>{{ metric.unit }}</td>
                                        <td>{{ metric.threshold }}</td>
                                        <td style="font-weight: bold; color:#00a65a"><i class="fa fa-check-circle"></i> Normal</td>
                                        <td style="text-align: center;"><a href="{% url 'datapreprocessing:edit_metric' metric.id %}" class="btn btn-primary btn-sm col-5">Edit</a> <a href="{% url 'datapreprocessing:delete_metric' metric.id %}" class="btn btn-danger btn-sm col-5">Delete</a></td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                            <script>
                                $(document).ready(function() {
                                    $('#metricsthresholds').DataTable({
                                        "paging": true,
                                        "lengthChange": true,
                                        "ordering": true,
                                        "autoWidth": false
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<style>
    td {
        vertical-align: middle !important;
    }
</style>
{% endblock %}