{% extends 'core/nutritionist-layout.html' %}

{% block content %}
{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="{% static 'core/js/highcharts.js' %}"></script>
<script src="{% static 'datapreprocessing/js/thresholds.js' %}"></script>


    <div class="content-wrapper" style="height: auto; margin-top: 57px;">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">
                            Threshold Setting</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item active">
                                {% if profile.user_type == 'Nutritionist' %}
                                Nutritionist
                                {% else %}
                                Program Coordinator
                                {% endif %}
                                Threshold Setting</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    {% include 'core/helpers/messages.html' %}

    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary">
                <div class="card-header p-0">
                    <h3 class="card-title p-3">Illnesses</h3>
                </div>
                <div class="card-body p-2">

                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Metric</th>
                        <th style="width: 10%;">Status</th>
                        <th style="width: 10%;">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for field in illnesses %}
                        <tr>
                            <td class="field-name">{{ field.0 }}</td>
                            {% if field.1 %}
                                    <td style="color: #00a65a; font-weight: bold;">
                                        <i class="fa fa-check-circle"></i> Set
                                    </td>
                                {% else %}
                                    <td style="color: #f56954; font-weight: bold;">
                                        <i class="fa fa-exclamation-circle"></i> No threshold
                                    </td>
                                {% endif %}
                            <td>
                                {% if field.1 %}
                                    <a href="{% url 'datapreprocessing:index' %}">
                                        <button class="btn btn-success btn-sm col-12">View Metric</button>
                                    </a>
                                {% else %}
                                    <button data-field="{{ field.0 }}" class="btn btn-danger set-threshold btn-sm col-12" data-target="#thresholdModal" data-toggle="modal">Set Threshold</button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
                </div>
            <div class="card card-primary">
                <div class="card-header p-0">
                    <h3 class="card-title p-3">Immunizations</h3>
                </div>
                <div class="card-body p-2">

                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Metric</th>
                        <th style="width: 10%;">Status</th>
                        <th style="width: 10%;">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for field in immunizations %}
                        <tr>
                            <td class="field-name">{{ field.0 }}</td>
                            {% if field.1 %}
                                    <td style="color: #00a65a; font-weight: bold;">
                                        <i class="fa fa-check-circle"></i> Already set
                                    </td>
                                {% else %}
                                    <td style="color: #f56954; font-weight: bold;">
                                        <i class="fa fa-exclamation-circle"></i> Not yet set
                                    </td>
                                {% endif %}
                            <td>
                                {% if field.1 %}
                                    <a href="{% url 'datapreprocessing:index' %}">
                                        <button class="btn btn-success btn-sm col-12">VIEW</button>
                                    </a>
                                {% else %}
                                    <button data-field="{{ field.0 }}" class="btn btn-danger set-threshold btn-sm col-12" data-target="#thresholdModal" data-toggle="modal">SET!</button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
                </div>
            <div class="card card-primary">
                <div class="card-header p-0">
                    <h3 class="card-title p-3">Micronutrient</h3>
                </div>
                <div class="card-body p-2">

                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Metric</th>
                        <th style="width: 10%;">Status</th>
                        <th style="width: 10%;">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for field in micro %}
                        <tr>
                            <td class="field-name">{{ field.0 }}</td>
                            {% if field.1 %}
                                    <td style="color: #00a65a; font-weight: bold;">
                                        <i class="fa fa-check-circle"></i> Already set
                                    </td>
                                {% else %}
                                    <td style="color: #f56954; font-weight: bold;">
                                        <i class="fa fa-exclamation-circle"></i> Not yet set
                                    </td>
                                {% endif %}
                            <td>
                                {% if field.1 %}
                                    <a href="{% url 'datapreprocessing:index' %}">
                                        <button class="btn btn-success btn-sm col-12">VIEW</button>
                                    </a>
                                {% else %}
                                    <button data-field="{{ field.0 }}" class="btn btn-danger set-threshold btn-sm col-12" data-target="#thresholdModal" data-toggle="modal">SET!</button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
                </div>
            <div class="card card-primary">
                <div class="card-header p-0">
                    <h3 class="card-title p-3">Socioeconomic</h3>
                </div>
                <div class="card-body p-2">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Metric</th>
                        <th style="width: 10%;">Status</th>
                        <th style="width: 10%;">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for field in socioeconomic %}
                        <tr>
                            <td class="field-name">{{ field.0 }}</td>

                                {% if field.1 %}
                                    <td style="color: #00a65a; font-weight: bold;">
                                        <i class="fa fa-check-circle"></i> Already set
                                    </td>
                                {% else %}
                                    <td style="color: #f56954; font-weight: bold;">
                                        <i class="fa fa-exclamation-circle"></i> Not yet set
                                    </td>
                                {% endif %}
                            <td>
                                {% if field.1 %}
                                    <a href="{% url 'datapreprocessing:index' %}">
                                        <button class="btn btn-success btn-sm col-12">VIEW</button>
                                    </a>
                                {% else %}
                                    <button data-field="{{ field.0 }}" class="btn btn-danger set-threshold btn-sm col-12" data-target="#thresholdModal" data-toggle="modal">SET!</button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div></div>
            <div class="card card-primary">
                <div class="card-header p-0">
                    <h3 class="card-title p-3">Informal Settlers</h3>
                </div>
                <div class="card-body p-2">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Metric</th>
                        <th style="width: 10%;">Status</th>
                        <th style="width: 10%;">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for field in maternal %}
                        <tr>
                            <td class="field-name">{{ field.0 }}</td>
                            {% if field.1 %}
                                    <td style="color: #00a65a; font-weight: bold;">
                                        <i class="fa fa-check-circle"></i> Already set
                                    </td>
                                {% else %}
                                    <td style="color: #f56954; font-weight: bold;">
                                        <i class="fa fa-exclamation-circle"></i> Not yet set
                                    </td>
                                {% endif %}
                            <td>
                                {% if field.1 %}
                                    <a href="{% url 'datapreprocessing:index' %}">
                                        <button class="btn btn-success btn-sm col-12">VIEW</button>
                                    </a>
                                {% else %}
                                    <button data-field="{{ field.0 }}" class="btn btn-danger set-threshold btn-sm col-12" data-target="#thresholdModal" data-toggle="modal">SET!</button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
            <div class="card card-primary">
                <div class="card-header p-0">
                    <h3 class="card-title p-3">Informal Settlers</h3>
                </div>
                <div class="card-body p-2">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Metric</th>
                        <th style="width: 10%;">Status</th>
                        <th style="width: 10%;">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for field in informal %}
                        <tr>
                            <td class="field-name">{{ field.0 }}</td>
                            {% if field.1 %}
                                    <td style="color: #00a65a; font-weight: bold;">
                                        <i class="fa fa-check-circle"></i> Already set
                                    </td>
                                {% else %}
                                    <td style="color: #f56954; font-weight: bold;">
                                        <i class="fa fa-exclamation-circle"></i> Not yet set
                                    </td>
                                {% endif %}
                            <td>
                                {% if field.1 %}
                                    <a href="{% url 'datapreprocessing:index' %}">
                                        <button class="btn btn-success btn-sm col-12">VIEW</button>
                                    </a>
                                {% else %}
                                    <button data-field="{{ field.0 }}" class="btn btn-danger set-threshold btn-sm col-12" data-target="#thresholdModal" data-toggle="modal">SET!</button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </section>
</div>

<div class="modal fade" id="thresholdModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Set Threshold</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="value-body">

        </div>

        <div class="text-center">
            <p>If <b id="field"></b>
                <span id="threshold-type">
                    is greater than
                </span>
                <input type="number" id="threshold">

                set to <b class="text-danger">CRITICAL</b>
            </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="submitThreshold">Submit</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}