{% if error %}
    <div class="alert alert-danger">
        <strong>{{ error }}</strong>
    </div>
{% endif %}


{% if form.errors %}
    <div class="alert-danger alert">
    {% for field in form %}
        <strong>{{ field.errors }}</strong>
    {% endfor %}
    </div>

{% endif %}

{% load tags %}
{% for field in form %}
    <div class="form-group">
        {{ field.label_tag }}
        {% if field|field_type != "CheckboxInput" %}
            {{ field|addcssclass }}
        {% else %}
            {{ field }}
        {% endif %}
    </div>
{% endfor %}