{% if unread_count == 0 %}
<div href="#" class="dropdown-item" style="text-align: center; height: 71px; padding: 10px; padding-top: 9%;">
    <p style="font-size: 13px;">No notifications</p>

</div>
<div class="dropdown-divider"></div>
{% endif %}
{% if notifications %}
{% for n in notifications %}
    {% if not n.is_read %}
        <div class="dropdown-item" style="padding: 10px;">
            <span class="float-right" ><a class="btn btn-primary btn-sm" style="font-size: 9px;" href="{% url 'core:mark_as_read' n.id %}">Mark as read</a></span>
            <p style="font-size: 13px">{{ n.message }}</p>
            <p style="font-size: 9px">By: {{ n.profile_from.user.first_name }} {{ n.profile_from.user.last_name }} at {{ n.date }}</p>
        </div>
        <div class="dropdown-divider"></div>
    {% endif %}
{% endfor %}
{% endif %}
