<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Status</title>
</head>
<body>
    {% include 'core/helpers/notifications.html' %}
    {% include 'core/helpers/messages.html' %}

    <h1>Data Status</h1>

    <table border="1">
        <thead>
        <tr>
            <th>Barangay</th>
            <th>Data Source</th>
            <th>BNS Status</th>
            <th>Action</th>
            <th>Nutritionist Status</th>
        </tr>
        </thead>
        <tbody>
        {% for barangay in barangays %}
            <tr>
                <td>{{ barangay.name }}</td>
                <td>
                    <table border="1">
                        <tr><td>eOPT</td></tr>
                        <tr><td>Monthly Reweighing</td></tr>
                        <tr><td>Family Profiles</td></tr>
                        <tr><td>FHSIS</td></tr>
                    </table>
                </td>
                <td>
                    <table border="1">
                        <tr><td>{{ barangay.has_opt|yesno:"Uploaded, Not Yet Uploaded" }}</td></tr>
                        <tr><td>{{ barangay.has_reweighed|yesno:"Uploaded, Not Yet Uploaded" }}</td></tr>
                        <tr><td>{{ barangay.has_family_profile|yesno:"Uploaded,Not Yet Uploaded" }}</td></tr>
                        <tr><td>todo</td></tr>
                    </table>
                </td>
                <td>
                    <table border="1">
                        <tr><td><a href="{% url 'datainput:show_opt' barangay.id %}">View</a></td></tr>
                        <tr><td><a href="{% url 'datainput:view_reweighing' barangay.id %}">View</a></td></tr>
                        <tr><td><a href="{% url 'datainput:show_family_profiles' barangay.id %}">View</a></td></tr>
                        <tr><td><a>View</a></td></tr>
                    </table>
                </td>
                <td>
                    <table border="1">
                        <tr><td>{{ barangay.has_validated_opt|yesno:"Approved, Not Yet Approved" }}</td></tr>
                        <tr><td>{{ barangay.has_validated_reweighing|yesno:"Approved, Not Yet Approved" }}</td></tr>
                        <tr><td>{{ barangay.has_family_profile|yesno:"Approved, Not Yet Approved" }}</td></tr>
                        <tr><td>TODO</td></tr>
                    </table>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>