{% extends 'core/nutritionist-layout.html' %}
{% block content %}

{% include 'core/helpers/messages.html' %}
<div class="content-wrapper" style="min-height: 620px;">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">City Nutritionist Data Status</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">Data Status</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Data Status</h3>
                        </div>
                        <div class="card-body">

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Barangay</th>
            <th>Data Source</th>
            <th>BNS Status</th>
            <th>Action</th>
            <th>Nutritionist Status</th>
        </tr>
        </thead>
        <tbody>
        {% for barangay in barangays %}
            <tr>
                <td rowspan="4" style="vertical-align:middle;">{{ barangay.name }}</td>
                <td>eOPT</td>
                <td>{{ barangay.has_opt|yesno:"Uploaded, Not Yet Uploaded" }}</td>
                <td><a href="{% url 'datainput:show_opt' barangay.id %}">View</a></td>
                <td>{{ barangay.has_validated_opt|yesno:"Approved, Not Yet Approved" }}</td>
            </tr>
            <tr>
                <td>Monthly Reweighing</td>
                <td>{{ barangay.has_reweighed|yesno:"Uploaded, Not Yet Uploaded" }}</td>
                <td><a href="{% url 'datainput:view_reweighing' barangay.id %}">View</a></td>
                <td>{{ barangay.has_validated_reweighing|yesno:"Approved, Not Yet Approved" }}</td>
            </tr>
            <tr>
                <td>Family Profiles</td>
                <td>{{ barangay.has_family_profile|yesno:"Uploaded,Not Yet Uploaded" }}</td>
                <td><a href="{% url 'datainput:show_family_profiles' barangay.id %}">View</a></td>
                <td>{{ barangay.has_validated_family_profiles|yesno:"Approved, Not Yet Approved" }}</td>
            </tr>
            <tr>
                <td>FHSIS</td>
                <td>{{ barangay.has_fhsis|yesno:"Uploaded,Not Yet Uploaded" }}</td>
                <td><a href="{% url 'datainput:show_fhsis' barangay.id %}">View</a></td>
                <td>{{ barangay.has_validated_fhsis|yesno:"Approved, Not Yet Approved" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}