<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FHSIS</title>

    <style>
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    }
    th, td {
    padding: 5px;
    text-align: left;
    }

</style>
</head>
<body>
    <h1>FHSIS</h1>

    <h2>Maternal Care</h2>
    <table>
        <tr>
            <th>Pregnant women with 4 or more prenatal visits</th>
            <td>{{ maternal.first.prenatal_visits }}</td>
        </tr>
        <tr>
            <th>Pregnant women given 2 doses of Tetanus Toxoid</th>
            <td>{{ maternal.tetanus_toxoid }}</td>
        </tr>
        <tr>
            <th>Pregnant women given TT2 plus</th>
            <td>{{ maternal.tt2_plus }}</td>
        </tr>
        <tr>
            <th>Pregnant women given complete iron with folic acid supplementation</th>
            <td>{{ maternal.complete_iron }}</td>
        </tr>
        <tr>
            <th>Postpartum women with given complete iron supplementation</th>
            <td>{{ maternal.complete_iron_post }}</td>
        </tr>
        <tr>
            <th>Postpartum women with at least 2 postpartum visits</th>
            <td>{{ maternal.postpartum_visits }}</td>
        </tr>
        <tr>
            <th>Postpartum women given Vitamin A supplementation</th>
            <td>{{ maternal.vitamin_a }}</td>
        </tr>
        <tr>
            <th>Postpartum women given Vitamin A supplementation</th>
            <td>{{ maternal.breastfed}}</td>
        </tr>
        <tr>
            <th>Postpartum women initiated breastfeeding within 1 hour after delivery</th>
            <td>{{ maternal.deliveries }}</td>
        </tr>
    </table>


    <p>table mo na lang kammy para organized</p>
    <p>show maternal care fields with values</p>
    <p>show immunization fields with values both male and female</p>
    <p>show malaria fields with values both male and female</p>
    <p>show tuberculosis fields with values both male and female</p>
    <p>show schistosomiasis fields with values both male and female</p>
    <p>show flariasis fields with values both male and female</p>
    <p>show leprosy fields with values both male and female</p>
    <p>show child care fields with values both male and female</p>
    <p>show micornutrient supplementation fields with values both male and female</p>
    <p>show STI Surveillance fields with values</p>
</body>
</html>