<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FHSIS</title>
</head>
<body>
    <h1>FHSIS</h1>

    <p>table mo na lang kammy para organized</p>
    <p>show maternal care fields with values</p>
    <p>show immunization fields with values both male and female</p>
    <p>show malaria fields with values both male and female</p>
    <p>show tuberculosis fields with values both male and female</p>
    <p>show schistosomiasis fields with values both male and female</p>
    <p>show flariasis fields with values both male and female</p>
    <p>show leprosy fields with values both male and female</p>
    <p>show child care fields with values both male and female</p>
    <p>show micornutrient supplementation fields with values both male and female</p>
    <p>show STI Surveillance fields with values</p>
</body>
</html>