{% extends 'core/bns-layout.html' %}
{% block content %}


<div class="content-wrapper" style="min-height: 620px; height: auto; margin-top: 57px;">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Barangay Nutrition Scholar Family Profiles</h1>
                    </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">BNS Family Profiles</li>
                    </ol>
                </div>
            </div>
        </div>
        {% include 'core/helpers/messages.html' %}
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-8">
                    <div class="card card-primary">
                        <div class="card-header d-flex p-0">
                            <h3 class="card-title p-3">Family Profiles</h3>
                        </div>
                        <div class="card-body">
                                <div>
                                    <table id="familyprofile_list" class="table table-bordered table-hover dataTable">
                                        <thead>
                                        <tr>
                                            <th>Date Uploaded</th>
                                            <th style="width: 16%;">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for family in families %}
                                            <tr>
                                                <td style="vertical-align: middle;">
                                                    {{ family.date.year }}
                                                </td>
                                               <td>
                                                   <a class="btn btn-primary btn-sm col-12" href="{% url 'datainput:show_profiles' family.id %}">View</a>
                                               </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <script>
                                $(document).ready(function(){
                                    $('#familyprofile_list').DataTable({
                                        "paging": true,
                                        "lengthChange": true,
                                        "ordering": true,
                                        "autoWidth": false,
                                        "order": [[ 0, "desc" ]],
                                        "columnDefs": [{
                                            "targets": [1],
                                            "orderable": false,
                                        }],
                                    });
                                });
                            </script>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}