<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Family Profiles</title>
</head>
<body>

    {% include 'core/helpers/notifications.html' %}
    {% include 'core/helpers/messages.html' %}

    {{ user }}
    {{ barangay }}

    {% if families.count == 0 %}
        <h1>There are no family profiles yet for the current year</h1>
    {% else %}
        <div>
            <h1>Profiles</h1>
            <table border="1">
                <tr>
                    <th>Profile</th>
                    <th>Status</th>
                </tr>
                {% for family in families %}
                    <tr>
                        <td>
                            <a href="{% url 'datainput:show_profiles' family.id %}">
                                Family Profile for {{ family.date.year }}
                            </a>
                        </td>
                        <td>{{ family.status }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}

    <a href="{% url 'datainput:add_family' %}">Add family profile</a>
</body>
</html>