{% extends 'core/bns-layout.html' %}
{% block content %}

{% include 'core/helpers/messages.html' %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Barangay Nutrition Scholar Dashboard</h1>
                    </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'core:bns-index' %}">BNS Dashboard</a></li>
                        <li class="breadcrumb-item active">Family Profile</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <div class="card card-primary">
                        <div class="card-header d-flex p-0">
                            <h3 class="card-title p-3">Family Profiles</h3>
                            <ul class="nav nav-pills ml-auto p-2">
                                <li class="nav-item">
                                    <a class="nav-link btn btn-default" style="text-align: center; color:#004876;" href="{% url 'datainput:add_family' %}">Add family profile</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            {% if families.count == 0 %}
                                <h1>There are no family profiles yet for the current year</h1>
                            {% else %}
                                <div>
                                    <table class="table table-bordered table-hover">
                                        <tr>
                                            <th>Profile</th>
                                            <th>Status</th>
                                        </tr>
                                        {% for family in families %}
                                            <tr>
                                                <td>
                                                    <a href="{% url 'datainput:show_profiles' family.id %}">
                                                        Family Profile for {{ family.date.year }}
                                                    </a>
                                                </td>
                                                {% if family.status == 'Approved' %}
                                                <td style="color: #00a65a; font-weight: bold;">
                                                    <i class="fa fa-check-circle"></i> {{ family.status }}
                                                </td>
                                                {% else %}
                                                <td style="color: #f56954; font-weight: bold;">
                                                    <i class="fa fa-exclamation-circle"></i> {{ family.status }}
                                                </td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}