{% extends 'core/nutritionist-layout.html' %}
{% block content %}

{% include 'core/helpers/messages.html' %}
<div class="content-wrapper" style="min-height: 620px; height: auto; margin-top: 57px;">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Nutritionist Data Status</h1>
                    </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'datainput:data_status_index' %}">Data Status</a></li>
                        <li class="breadcrumb-item active">Family Profile</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-8">
                    <div class="card card-primary">
                        <div class="card-header p-0">
                            <h3 class="card-title p-3">Family Profile Records for {{ barangay }}</h3>
                        </div>
                        <div class="card-body">

                                <div>
                                    <table id="familyprofile_overview" class="table table-bordered table-hover dataTable">

                                        <tr>
                                            <th style="width: 60%">Profile</th>
                                            <th style="width: 40%">Action</th>
                                        </tr>
                                        {% for family in families %}
                                        <tr>
                                            <td style="vertical-align: middle;"><a href="{% url 'datainput:show_profiles' family.id %}">Family Profile Record for {{ family.date.year }}</a></td>
                                            {% if family.status == 'Approved' %}
                                            <td style="font-weight: bold; color:#00a65a;"><i class="fa fa-check-circle"></i> Approved</td>
                                            {% else %}
                                            <td style="text-align: center;">
                                                <a class="btn btn-success col-5" href="{% url 'datainput:accept_family_profiles' barangay.id %}">Accept</a>
                                                <a class="btn btn-danger col-5" href="{% url 'datainput:reject_family_profiles' barangay.id %}">Reject</a>
                                            </td>
                                            {% endif %}
                                        </tr>
                                        {% endfor %}
                                    </table>
                                    <script>
                                        $(document).ready(function() {
                                            $('#familyprofile_overview').DataTable({
                                                "paging": true,
                                                "lengthChange": true,
                                                "ordering": true,
                                                "autoWidth": false
                                            });
                                        });
                                    </script>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}