{% extends 'core/nutritionist-layout.html' %}
{% block content %}

<div class="content-wrapper" style="min-height: 620px; height: auto; margin-top: 57px;">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">City Nutritionist Data Upload</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'datainput:nutritionist_upload' %}">Data Upload</a></li>
                        <li class="breadcrumb-item active">Health Care Waste Management</li>
                    </ol>
                </div>
            </div>
        </div>
{% include 'core/helpers/messages.html' %}
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    <div class="card card-primary">
                        <div class="card-header d-flex p-0" style="cursor: move;">
                        <h3 class="card-title p-3">HCWM per Year</h3>
                        <ul class="nav nav-pills ml-auto p-2">
                            <li class="nav-item">
                                <a class="nav-link btn-default" style="text-align: center; color: #004876;" href="{% url 'datainput:add_hcwm' %}">Add Record</a>
                            </li>
                        </ul>
                        </div>
                        <div class="card-body">
                            {% load static %}
                            <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
                            <script src="{% static 'datainput/js/data_input.js' %}"></script>
                            <table id="family_list" class="table table-bordered table-hover dataTable">
                                <thead>
                                    <tr>
                                        <th>Data</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if hcwm.count == 0 %}
                                    <tr>
                                        <td>No data recorded</td>
                                    </tr>
                                    {% else %}
                                    {% for record in hcwm %}
                                    <tr id="{{ record.id }}" class="health_care_record" style="cursor: pointer;">
                                        <td>Health Care Waste Management Record for {{ record.date.year }}</td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="card card-primary">
                        <div class="card-header p-0">
                            <h3 class="card-title p-3">Health Care Waste Management Data</h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width:70%;">Data Point</th>
                                        <th>Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Health centers with syringe collection:</td>
                                        <td><span class="hc1"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Households with access to improved or safe water:</td>
                                        <td><span class="hc2"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Households with sanitary toilet:</td>
                                        <td><span class="hc3"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Households with satisfactoral displosal of solid waste:</td>
                                        <td><span class="hc4"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Household with complete basic sanitation facilities:</td>
                                        <td><span class="hc5"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <style>
                            span{
                            text-transform: capitalize;
                            font-weight: bold;
                            }
                            </style>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}