{% extends 'core/nutritionist-layout.html' %}
{% block content %}

{% include 'core/helpers/messages.html' %}
<div class="content-wrapper" style="min-height: 620px;">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">City Nutritionist Data Upload</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'datainput:nutritionist_upload' %}">Data Upload</a></li>
                        <li class="breadcrumb-item active">Informal Settlers</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <div class="card card-primary">
                        <div class="card-header p-0">
                            <h3 class="card-title p-3">Informal Settlers</h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 50%;">Year</th>
                                        <th>Count</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if records.count == 0 %}
                                    <tr>
                                        <td colspan="2" style="text-align: center;">No data recorded</td>
                                    </tr>
                                    {% else %}
                                    {% for record in records %}
                                    <tr>
                                        <td>{{ record.date.year }}</td>
                                        <td>{{ record.families_count }}</td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card card-primary">
                        <div class="card-header p-0">
                            <h3 class="card-title p-3">Add Informal Settlers Record</h3>
                        </div>
                        <div class="card-body">
                            {% if not has_record %}
                            <h3>Informal Settlers Record for {% now "Y" %}</h3>
                            <div>
                                <form method="POST">
                                    {% csrf_token %}
                                    {% include 'core/helpers/form_template.html' %}
                                    <input class="btn btn-primary col-4" type="submit">
                                </form>
                            </div>
                            {% else %}
                            <p style="text-align: center; margin-top: 16px;">Data has already been recorded for this year</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}