<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patients for Monthly Reweighing</title>
</head>
<body>
    {% include 'core/helpers/messages.html' %}

    <h1>Patients for Monthly Reweighing</h1>

    {% if not has_opt %}
        OPT for this year is not found
    {% else %}
        {% if patients.count == 0 %}
            You have no patients yet. <a href="{% url 'datainput:add_patient' %}">Add</a> a patient now
        {% else %}
            <table border="1">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Age in Months</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for patient in patients %}
                    <tr>
                        <td>{{ patient.name }}</td>
                        <td>{{ patient.get_age }} months</td>
                        <td>
                            <a href="{% url 'datainput:patient_overview' patient.id %}">Nutritional Statuses</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endif %}
</body>
</html>