{% extends 'core/bns-layout.html' %}
{% block content %}


<div class="content-wrapper" style="min-height: 620px; height: auto; margin-top: 57px;">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Barangay Nutrition Scholar Upload Facility</h1>
                    </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'core:bns-index' %}">BNS Upload Facility</a></li>
                        <li class="breadcrumb-item active">Monthly Reweighing</li>
                    </ol>
                </div>
            </div>
        </div>
        {% include 'core/helpers/messages.html' %}
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary">
                        <div class="card-header d-flex p-0">
                            <h3 class="card-title p-3">Patients for Monthly Reweighing for {{ barangay }}</h3>
                            <ul class="nav nav-pills ml-auto p-2">
                                <li class="nav-item">
                                    <a class="nav-link btn btn-default" style="text-align: center; color:#004876;" href="{% url 'datainput:add_patient' %}">Add a patient</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <table id="patient_overview" class="table table-bordered table-hover dataTable">
                                <thead>
                                    <tr>
                                        <th style="width: 30%">Name</th>
                                        <th style="width: 30%">Age in Months</th>
                                        <th style="width: 30%">Status</th>
                                        <th style="width: 10%;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for patient in patients %}
                                    <tr>
                                        <td>{{ patient.name }}</td>
                                        <td>{{ patient.get_age }} months</td>
                                        {% if patient.get_reweighing_status == 'Updated' %}
                                        <td style="color: #00a65a; font-weight: bold;">
                                            <i class="fa fa-check-circle"></i> Updated
                                        </td>
                                        {% else %}
                                        <td style="color: #f56954; font-weight: bold;">
                                            <i class="fa fa-exclamation-circle"></i> Not Updated
                                        </td>
                                        {% endif %}
                                        <td>
                                            <a href="{% url 'datainput:patient_overview' patient.id %}" class="btn btn-primary btn-sm col-12">View Record</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <script>
                                $(document).ready(function() {
                                    $('#patient_overview').DataTable({
                                        "paging": true,
                                        "lengthChange": true,
                                        "ordering": true,
                                        "autoWidth": false
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<style>
    td {
        vertical-align: middle !important;
    }
</style>
{% endblock %}