<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Upload</title>
</head>
<body>
    {% include 'core/helpers/messages.html' %}

    <h1>Data Upload</h1>

    <table>
        <thead>
        <tr>
            <th>Data</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a>Health Care Waste Management</a></td>
            <td>todo</td>
        </tr>
        <tr>
            <td><a>Informal Settlers</a></td>
            <td>todo</td>
        </tr>
        <tr>
            <td><a>Unemployment Rate</a></td>
            <td>todo</td>
        </tr>
        </tbody>
    </table>
</body>
</html>