{% extends 'core/nutritionist-layout.html' %}
{% block content %}

{% include 'core/helpers/messages.html' %}
<div class="content-wrapper" style="min-height: 620px;">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Data Upload</h1>
                    </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">Data Upload</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-8">
                    <div class="card card-primary">
                        <div class="card-header p-0">
                            <h3 class="card-title p-3">Data Points</h3>
                        </div>
                        <div class="card-body p-0">
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th style="70%">Data</th>
                                        <th style="3    0%">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="clickable-row" data-href="{% url 'datainput:health_care_index' %}" style="cursor: pointer;">
                                        <td>Health Care Waste Management</td>
                                        {% if has_ur %}
                                        <td style="font-weight: bold; color: #00a65a;">
                                            <i class="fa fa-check-circle"></i> Up to date
                                        </td>
                                        {% else %}
                                        <td style="font-weight: bold; color: #f56954;">
                                            <i class="fa fa-exclamation-circle"></i> No record for this year
                                        </td>
                                        {% endif %}
                                    </tr>
                                    <tr class="clickable-row" data-href="{% url 'datainput:informal_settlers_index' %}" style="cursor: pointer;">
                                        <td>Informal Settlers</td>
                                        {% if has_ur %}
                                        <td style="font-weight: bold; color: #00a65a;">
                                            <i class="fa fa-check-circle"></i> Up to date
                                        </td>
                                        {% else %}
                                        <td style="font-weight: bold; color: #f56954;">
                                            <i class="fa fa-exclamation-circle"></i> No record for this year
                                        </td>
                                        {% endif %}
                                    </tr>
                                    <tr class="clickable-row" data-href="{% url 'datainput:unemployment_rate_index' %}" style="cursor: pointer;">
                                        <td>Unemployment Rate</td>
                                        {% if has_ur %}
                                        <td style="font-weight: bold; color: #00a65a;">
                                            <i class="fa fa-check-circle"></i> Up to date
                                        </td>
                                        {% else %}
                                        <td style="font-weight: bold; color: #f56954;">
                                            <i class="fa fa-exclamation-circle"></i> No record for this year
                                        </td>
                                        {% endif %}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}