<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patient</title>
</head>
<body>
    {% include 'core/helpers/notifications.html' %}
    {% include 'core/helpers/messages.html' %}

    <h1>{{ patient.name }}</h1>
    <h2>{{ patient.get_age }} months old</h2>

    {% if weights.count == 0 %}
        This patient has no records yet
    {% else %}
        <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Weight for Age</th>
                <th>Height for Age</th>
                <th>Weight for Height/Length</th>
            </tr>
        </thead>
        <tbody>
            {% for ns in weights %}
                <tr>
                    <td>{{ ns.date.month }}/{{ ns.date.year }}</td>
                    <td>{{ ns.weight_for_age }}</td>
                    <td>{{ ns.height_for_age }}</td>
                    <td>{{ ns.weight_for_height_length }}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>

    {% endif %}

    <div>
        <a href="{% url 'datainput:reweigh' patient.id %}">Update {{ patient.name }}'s nutritional status</a>
    </div>
</body>
</html>