{% extends template_values %}
{% block content %}

<div class="content-wrapper" style="min-height: 620px; height: auto; margin-top: 57px;">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    {% if profile.user_type == 'Barangay Nutrition Scholar' %}
                    <h1 class="m-0 text-dark">Barangay Nutrition Scholar Dashboard</h1>
                    {% else %}
                    <h1 class="m-0 text-dark">Nutritionist Data Status</h1>
                    {% endif %}
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        {% if profile.user_type == 'Barangay Nutrition Scholar' %}
                        <li class="breadcrumb-item"><a href="{% url 'core:bns-index' %}">BNS Upload Facility</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'datainput:monthly_reweighing_index' %}">Monthly Reweighing</a></li>
                        <li class="breadcrumb-item active">{{ patient.name }}</li>
                        {% else %}
                        <li class="breadcrumb-item"><a href="{% url 'datainput:data_status_index' %}">Data Status</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'datainput:view_reweighing' barangay %}">Monthly Reweighing</a></li>
                        <li class="breadcrumb-item active">{{ patient.name }}</li>
                        {% endif %}
                    </ol>
                </div>
            </div>
        </div>
        {% include 'core/helpers/messages.html' %}
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-8">
                    <div class="card card-primary">
                        <div class="card-header p-0">
                            <h3 class="card-title p-3">Nutritional Status</h3>
                        </div>
                        <div class="card-body">
                            <h3>Name : <b>{{ patient.name }}</b></h3>
                            <h4>Age : <b>{{ patient.get_age }} months old</b></h4>
                            <h4>Sex : <b>{{ patient.sex }}</b></h4><br>
                            {% if weights.count == 0 %}
                            <p>This patient has no records yet</p>
                            {% else %}
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Weight for Age</th>
                                        <th>Height for Age</th>
                                        <th>Weight for Height/Length</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for ns in weights %}
                                    <tr>
                                        <td>{{ ns.date.month }}/{{ ns.date.year }}</td>
                                        <td>{{ ns.weight_for_age }}</td>
                                        <td>{{ ns.height_for_age }}</td>
                                        <td>{{ ns.weight_for_height_length }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <br>
                            {% endif %}
                            {% if is_bns %}
                            <div>
                                <a class="btn btn-primary"  href="{% url 'datainput:reweigh' patient.id %}">Update {{ patient.name }}'s nutritional status</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}