{% extends 'core/bns-layout.html' %}
{% block content %}

{% include 'core/helpers/messages.html' %}
<div class="content-wrapper" style="min-height: 620px; height: auto; margin-top: 57px;">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Barangay Nutrition Scholar Dashboard</h1>
                    </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'core:bns-index' %}">BNS Dashboard</a></li>
                        <li class="breadcrumb-item active">OPT Records</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-8">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Operation Timbang Records</h3>
                        </div>
                        <div class="card-body">

    <table id="family_list" class="table table-bordered table-hover dataTable">
                                <thead>
                                    <tr>
                                        <th>OPT Record</th>
                                        <th style="width: 16%;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>

        {% for opt in opt_records %}
            <tr>
                <td style="vertical-align: middle;">
                    eOPT - {{ opt.date.date }}
                </td>
                <td>
                    <a href="{% url 'datainput:display_opt' opt.id %}" class="btn btn-primary btn-sm col-12">View Report</a>
                </td>
            </tr>
       {% endfor %}
        <tbody>
    </table>
                            <script>
                                $(document).ready(function(){
                                    $('#family_list').DataTable({
                                        "paging": true,
                                        "lengthChange": true,
                                        "ordering": true,
                                        "autoWidth": false
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}