{% extends 'core/nutritionist-layout.html' %}
{% block content %}

{% include 'core/helpers/messages.html' %}
<div class="content-wrapper" style="min-height: 620px;">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">City Nutritionist Data Status</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'datainput:data_status_index' %}">Data Status</a></li>
                        <li class="breadcrumb-item active">Monthly Reweighing</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <div class="card card-primary">
                        <div class="card-header d-flex p-0" style="cursor: move;">
                        <h3 class="card-title p-3">FHSIS Records of {{ barangay }}</h3>
                        </div>
                        <div class="card-body">

    {% if fhsis.count == 0 %}
        <p>FHSIS has not yet been uploaded</p>
    {% else %}
        <table class="table table-bordered">
        <thead>
        <tr>
            <th style="width: 60%;">Record</th>
            <th style="width: 40%;">Action</th>
        </tr>
        </thead>
        <tbody>
        {% load tags %}
        {% for record in fhsis %}
            <tr>
                <td style="vertical-align: middle;">Record for {{ record.date.month|month_name }} {{ record.date.year }}</td>
                <td style="text-align: center;">
                    <a class="btn btn-success col-5" href="{% url 'datainput:accept_fhsis' barangay.id record.id %}">Accept</a>
                    <a class="btn btn-danger col-5" href="{% url 'datainput:reject_fhsis' barangay.id record.id %}">Reject</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}