 {% extends 'core/nutritionist-layout.html' %}
{% block content %}

{% include 'core/helpers/messages.html' %}
<div class="content-wrapper" style="min-height: 620px; height: auto; margin-top: 57px;">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">City Nutritionist Data Status</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'datainput:data_status_index' %}">Data Status</a></li>
                        <li class="breadcrumb-item active">Monthly Reweighing</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-8">
                    <div class="card card-primary">
                        <div class="card-header d-flex p-0" style="cursor: move;">
                        <h3 class="card-title p-3" id="headH3" data-barangay="{{ barangay.id }}">FHSIS Records of {{ barangay }}</h3>
                        </div>
                        <div class="card-body">

                            <table id="fhsis_overview" class="table table-bordered table-hover dataTables">
                                <thead>
                                    <tr>
                                        <th style="width: 60%;">Record</th>
                                        <th style="width: 40%;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% load tags %}
                                    {% for record in fhsis %}
                                        <tr data-id="{{ record.id }}">
                                            <td style="vertical-align: middle;"><a href="{% url 'datainput:view_fhsis_file' record.id %}">FHSIS Record for {{ record.date.month|month_name }} {{ record.date.year }}</a></td>
                                            {% if record.status == 'Approved' %}
                                            <td style="font-weight: bold; color:#00a65a;"><i class="fa fa-check-circle"></i> Approved</td>
                                            {% else %}
                                            <td style="text-align: center;">
                                                <a class="btn btn-success col-5" href="{% url 'datainput:accept_fhsis' barangay.id record.id %}">Accept</a>
                                                <a class="btn btn-danger col-5" href="{% url 'datainput:reject_fhsis' barangay.id record.id %}">Reject</a>
                                            </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <script>
                                $(document).ready(function() {
                                    $('#fhsis_overview').DataTable({
                                        "paging": true,
                                        "lengthChange": true,
                                        "ordering": true,
                                        "autoWidth": false
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="titleFHSIS" data-id="">Reject FHSIS</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST">
            {% csrf_token %}
            {% include 'core/helpers/form_template.html' %}
            <button type="submit" class="btn btn-primary" id="rejectFHSIS">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}