{% extends 'core/nutritionist-layout.html' %}
{% block content %}

{% include 'core/helpers/messages.html' %}
<div class="content-wrapper" style="min-height: 620px;">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">City Nutritionist Data Status</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'datainput:data_status_index' %}">Data Status</a></li>
                        <li class="breadcrumb-item active">Monthly Reweighing</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-8">
                    <div class="card card-primary">
                        <div class="card-header d-flex p-0" style="cursor: move;">
                        <h3 class="card-title p-3">Monthly Reweighing for {{ barangay }}</h3>
                        <ul class="nav nav-pills ml-auto p-2">
                            <li class="nav-item">
                                <a class="nav-link btn-success" style="margin-right: 10px; width: 100px; text-align: center;" href="{% url 'datainput:accept_reweighing' barangay.id %}">Accept</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn-danger" style="width: 100px; text-align: center;" href="{% url 'datainput:reject_reweighing' barangay.id %}">Reject</a>
                            </li>
                        </ul>
                        </div>
                        <div class="card-body">
                            {% if not has_opt %}
                            OPT for this year is not found
                            {% else %}
                            <table id="reweighing_overview" class="table table-bordered table-hover dataTable">
                                <thead>
                                    <tr>
                                        <th style="width: 50%">Name</th>
                                        <th style="width: 25%">Age in Months</th>
                                        <th style="width: 25%">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if patients.count == 0 %}
                                    <tr>
                                        <td colspan="4">No patients recorded</td>
                                    </tr>
                                    {% else %}
                                    {% for patient in patients %}
                                    <tr class="clickable-row" data-href="{% url 'datainput:patient_overview' patient.id %}" style="cursor: pointer;">
                                        <td>{{ patient.name }}</td>
                                        <td>{{ patient.get_age }} months</td>
                                        {% if patient.get_reweighing_status == 'Updated' %}
                                        <td style="color: #00a65a; font-weight: bold;">
                                            <i class="fa fa-check-circle"></i> Updated
                                        </td>
                                        {% else %}
                                        <td style="color: #f56954; font-weight: bold;">
                                            <i class="fa fa-exclamation-circle"></i> Not Updated
                                        </td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                            <script>
                                $(document).ready(function() {
                                    $('#reweighing_overview').DataTable({
                                        "paging": true,
                                        "lengthChange": true,
                                        "ordering": true,
                                        "autoWidth": false
                                    });
                                });
                            </script>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}