{% extends 'core/nutritionist-layout.html' %}
{% block content %}

{% load static %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="{% static 'visualizations/js/insights/maternal.js' %}"></script>

    <style>
        .contents div{
            padding: 20px;
        }

    </style>

    <div class="content-wrapper" style="height: auto; margin-top: 57px;">
        <div class="content">
            <div class="container-fluid">
                <h1>City Micronutrient Supplementation </h1>
                <div class="row">
                    <div class="col-12 text-center contents" style="height: 150px;">
                        <div class="card">
                            <h1 class="display-4">23</h1>
                            <p style="font-size: 1.3rem;">Number of women with 4 or more prenatal visits in the last 3 months</p>
                        </div>
                    </div>

                </div>
                <div class="row mt-4">
                    <div class="col-12 text-center contents">
                        <div class="card">
                            <p style="font-size: 1.5rem;">Average # of Supplementation Given to Pregnant Women</p>
                            <div class="row">
                                <div class="col-4 contents">
                                    <p style="font-size: 1.3rem;">Folic Acid</p>
                                    <h1>12</h1>
                                </div>
                                <div class="col-4 contents">
                                    <p style="font-size: 1.3rem;">Iron</p>
                                    <h1>9</h1>
                                </div>
                                <div class="col-4 contents">
                                    <p style="font-size: 1.3rem;">Vitamin A</p>
                                    <h1>11</h1>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card p-4">
                            <h4 class="text-center">Other Maternal Care Data Per Barangay</h4>
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                <tr>
                                    <th>Barangay</th>
                                    <th>Pregnant women given 2 doses of Tetanus Toxoid</th>
                                    <th>Postpartum women with at least 2 postpartum visits</th>
                                    <th>Pregnant women given TT2 plus</th>
                                </tr>
                                <tr>
                                    <td>Barangay Poblacion</td>
                                    <td>31</td>
                                    <td>22</td>
                                    <td>48</td>
                                </tr>
                                <tr>
                                    <td>Barangay Addition Hills</td>
                                    <td>13</td>
                                    <td>42</td>
                                    <td>28</td>
                                </tr>
                                <tr>
                                    <td>Barangay Ibaba</td>
                                    <td>43</td>
                                    <td>42</td>
                                    <td>48</td>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="card">
                            <div id="totals">

                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div id="totals-lowest">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}