{% extends 'core/nutritionist-layout.html' %}
{% block content %}

{% load static %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="{% static 'visualizations/js/insights/micronutrient.js' %}"></script>

    <style>
        .contents div{
            padding: 20px;
        }

    </style>

    <div class="content-wrapper" style="height: auto; margin-top: 57px;">
        <div class="content">
            <div class="container-fluid">
                <h1>City Micronutrient Supplementation </h1>
                <div class="row">
                    <div class="col-4 text-center contents" style="height: 150px;">
                        <div class="card">
                           <p style="font-size: 1.3rem;">Total # of Vitamin A Given</p>
                            <h1 class="display-4">{{ totals.0 }}</h1>
                        </div>
                    </div>
                    <div class="col-4 text-center contents" style="height: 150px;">
                        <div class="card">
                           <p style="font-size: 1.3rem;">Total # of Iron Given</p>
                            <h1 class="display-4">{{ totals.1 }}</h1>
                        </div>
                    </div>
                    <div class="col-4 text-center contents" style="height: 150px;">
                        <div class="card">
                           <p style="font-size: 1.3rem;">Total # of Micronutrient Powder Given</p>
                            <h1 class="display-4">{{ totals.2 }}</h1>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-6 text-center contents">
                        <div class="card">
                            <p style="font-size: 1.3rem;">Where is the barangay given the <b class="text-success">highest </b> per supplementation?</p>
                            <div class="row">
                                <div class="col-4 contents">
                                    <p style="font-size: 1rem;">Vitamin A</p>
                                    <h4>{{ highest.0.0 }}</h4>
                                    <h3 class="text-success">{{ highest.0.1 }}</h3>
                                </div>
                                <div class="col-4 contents">
                                    <p style="font-size: 1rem;">Iron</p>
                                    <h4>{{ highest.1.0 }}</h4>
                                    <h3 class="text-success">{{ highest.1.1 }}</h3>
                                </div>
                                <div class="col-4 contents">
                                    <p style="font-size: 1rem;">Micronutrient Powder</p>
                                    <h4>{{ highest.2.0 }}</h4>
                                    <h3 class="text-success">{{ highest.2.1 }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 text-center contents">
                        <div class="card">
                            <p style="font-size: 1.3rem;">Where is the barangay given the <b class="text-danger">lowest</b> per supplementation?</p>
                            <div class="row">
                                <div class="col-4 contents">
                                    <p style="font-size: 1rem;">Vitamin A</p>
                                    <h4>{{ lowest.0.0 }}</h4>
                                    <h3 class="text-danger">{{ lowest.0.1 }}</h3>
                                </div>
                                <div class="col-4 contents">
                                    <p style="font-size: 1rem;">Iron</p>
                                    <h4>{{ lowest.1.0 }}</h4>
                                    <h3 class="text-danger">{{ lowest.1.1 }}</h3>
                                </div>
                                <div class="col-4 contents">
                                    <p style="font-size: 1rem;">Micronutrient Powder</p>
                                    <h4>{{ lowest.2.0 }}</h4>
                                    <h3 class="text-danger">{{ lowest.2.1 }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card p-4">
                            <h4 class="text-center">Micronutrient Supplementation Per Barangay</h4>
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                <tr>
                                    <th>Barangay</th>
                                    <th>Vitamin A</th>
                                    <th>Iron</th>
                                    <th>Micronutrient Powder</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for b in micro_per_barangay %}
                                    <tr>
                                        {% for a in b %}
                                            <td>{{ a }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="card">
                            <div id="totals">

                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div id="totals-lowest">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}