{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Likha</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'core/plugins/bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'core/plugins/css/adminlte.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'core/plugins/datatables/dataTables.bootstrap4.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'core/plugins/font-awesome/css/font-awesome.css' %}">



        <script src="{% static 'core/plugins/jquery/jquery.min.js' %}"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <script src="{% static 'core/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'core/plugins/datatables/jquery.dataTables.js' %}"></script>
        <script src="{% static 'core/plugins/datatables/dataTables.bootstrap4.js' %}"></script>
        <script src="{% static 'core/plugins/js/adminlte.js' %}"></script>
        <script src="{% static 'core/js/mcmcmas-script.js' %}"></script>
    </head>

    <body class="sidebar-mini">
        <div class="wrapper">
            <nav class="main-header navbar navbar-expand border-bottom navbar-light bg-primary" style="position: fixed; right: 0; left: 0;">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" data-widget="pushmenu" href="#" style="padding-top: 12px;"><i class="fa fa-bars"></i></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false" style="padding-top: 12px;">
                            <i class="fa fa-bell-o"></i>
                            {% if unread_count > 0 %}
                                <span class="badge badge-warning navbar-badge">
                                {{ unread_count }}</span>
                            {% endif %}
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-left notifications">
                            <span class="dropdown-item dropdown-header">
                                {{ unread_count }} Notification{% if unread_count > 1 %}s{% endif %}
                            </span>
                            <div class="dropdown-divider"></div>
                            <div style="min-height: 70px; max-height: 217px; overflow-y: auto;">
                            <div class="dropdown-divider"></div>
                            {% include 'core/helpers/notifications.html' %}
                            </div>
                            <div class="dropdown-divider"></div>
                            <a href="{% url 'core:mark_all' %}"><div href="#" class="dropdown-item dropdown-footer">Mark all as read</div></a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="true" style="padding-top: 12px;">
                            <i class="fa fa-cog"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <div class="dropdown-item">
                                <div class="media">
                                    <img src="{% static 'core/images/nnc.png' %}" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                    <div class="media-body">
                                        <h3 class="dropdown-item-title">{{ profile.user.first_name }} {{ profile.user.last_name }}</h3>
                                        <p class="text-sm">Barangay Nutrition Scholar</p>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="dropdown-item dropdown-footer">
                                <a href="{% url 'core:logout' %}" class="btn btn-primary btn-block" >Logout</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>

            <aside class="main-sidebar elevation-4 sidebar-light-primary" style="min-height: 620px;">
                <div class="brand-link bg-primary">
                    <img src="{% static 'core/images/nnc.png' %}" class="brand-image img-circle" style="opacity: .8">
                    <span class="brand-text font-weight-light">MCMCMAS</span>
                </div>
                <div class="sidebar">
                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="image">
                            <img src="{% static 'core/images/com.png' %}" class="img-circle" alt="User Image">
                        </div>
                        <div class="info">
                            <div class="d-block">{{ profile.user.first_name }} {{ profile.user.last_name }}</div>
                        </div>
                    </div>
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                            <li class="nav-header">BARANGAY NUTRITION SCHOLAR</li>
                            <li class="nav-item">
                                <a href="{% url 'core:bns-index' %}" class="nav-link active">
                                    <i class="nav-icon fa fa-th"></i>
                                    <p>Upload Facility</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'datainput:archives' %}">
                                    <i class="nav-icon fa fa-th"></i>
                                    <p>Reports Archive</p>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </aside>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
