{% extends 'core/layout.html' %}
{% block content %}

    {% include 'core/helpers/messages.html' %}



<div class="row">
<div class="col-12">
<div class="card card-primary">
<div class="card-header">
<h3 class="card-title">Upload Facility</h3>


</div>
<!-- /.card-header -->
<div class="card-body table-responsive p-0">
<table class="table table-hover table-bordered">
<tbody><tr>
<th>Data</th>
<th colspan="2">Action</th>
<th>Status</th>
<th>View</th>
</tr>
<tr>
<td>eOPT</td>
{% if opt is None %}
<td>
<form method="POST" enctype="multipart/form-data" action="{% url 'datainput:handle_opt_file' %}">
{% csrf_token %}
<input type="file" name="eOPT">
<input type="submit">
</form>
</td>
<td>
<a>
Input using the system
</a>
</td>
<td>Not yet uploaded</td>
<td>wala pa</td>
{% else %}
<td>
<form method="POST" enctype="multipart/form-data" action="{% url 'datainput:handle_opt_file' %}">
{% csrf_token %}
<input type="file" name="eOPT">
<input type="submit" value="Resubmit">
</form>
</td>
<td>
<a>
Re-input using the system
</a>
</td>
<td>{{ opt.status }}</td>
<td>
<!--TODO-->
<a>
View
</a>
</td>
{% endif %}
</tr>
<tr>
<td>Monthly Reweighing</td>
<td colspan="2">
<a href="{% url 'datainput:monthly_reweighing_index' %}">
Input using the system
</a>
</td>
<td>TODO</td>
</tr>
<tr>
<td>FHSIS</td>
<td>
<a>
Upload File
</a>
</td>
<td>
<a>
Input using the system
</a>
</td>
<td>TODO</td>
</tr>
<tr>
<td>Family Profile</td>
<td colspan="2">
<a href="{% url 'datainput:family_profiles' %}">
Go to Family Profiles
</a>
</td>
<td>TODO</td>
<td>
<a href="{% url 'datainput:family_profiles' %}">
View
</a>
</td>
</tr>
</tbody></table>
</div>
<!-- /.card-body -->
</div>
<!-- /.card -->
</div>
</div>

{% endblock %}