{% extends 'core/bns-layout.html' %}
{% block content %}

{% include 'core/helpers/messages.html' %}
<div class="content-wrapper" style="height: auto; margin-top: 57px;">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Upload Facility</h1>
                    </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">Upload Facility</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary">
                        <div class="card-header p-0">
                            <h3 class="card-title p-3">Monthly Reports</h3>
                        </div>
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover table-bordered">
                                <tbody>
                                    <tr>
                                        <th style="width: 33%;">Report</th>
                                        <th style="width: 33%;">Due Date</th>
                                        <th style="width: 33%;">Date Uploaded</th>
                                        <th style="width: 33%;">Status</th>
                                        <th style="width: 33%;">Action</th>
                                    </tr>
                                    <tr style="height: 58px;">
                                        <td style="vertical-align: middle;">Field Health Service Information System M1</td>
                                        <td>{{ month_due }}</td>
                                        <td>{{ fhsis_uploaded }}</td>
                                        {% if fhsis_status == 'Completed' %}
                                            <td class="text-success">
                                                <i class="fa fa-check-circle"></i> {{ fhsis_status }}
                                            </td>
                                            <td>
                                                <button class="btn btn-primary">
                                                    View Report
                                                </button>
                                            </td>
                                        {% else %}
                                            <td class="text-danger">
                                                <i class="fa fa-exclamation-circle"></i> Incomplete
                                            </td>
                                            <td>
                                                <form class="m-0" method="POST" enctype="multipart/form-data" action="{% url 'datainput:handle_fhsis_file' %}">
                                                    {% csrf_token %}
                                                    <input type="file" name="fhsis" id="fhsis" class="inputfile" />
                                                    <label class="btn btn-primary btn-sm" for="fhsis">Choose a file</label>



                                                    <input class="btn btn-primary btn-sm" type="submit">
                                                </form>
                                            </td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td>Monthly Reweighing</td>
                                        <td>{{ month_due }}</td>
                                        <td>{{ mr_date }}</td>
                                        {% if has_mr %}
                                            <td class="text-success">
                                                <i class="fa fa-check-circle"></i> Completed
                                            </td>
                                            <td>
                                                <a href="{% url 'datainput:monthly_reweighing_index' %}" class="btn btn-primary btn-sm">
                                                    View Report
                                                </a>
                                            </td>
                                        {% else %}
                                            <td class="text-danger">
                                                <i class="fa fa-exclamation-circle"></i> Incomplete
                                            </td>
                                            <td>
                                                <a href="{% url 'datainput:monthly_reweighing_index' %}">
                                                    <button class="btn btn-primary">Update Report</button>
                                                </a>

                                            </td>
                                        {% endif %}
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary">
                        <div class="card-header p-0">
                            <h3 class="card-title p-3">Annual Reports</h3>
                        </div>
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover table-bordered">
                                <tbody>
                                    <tr>
                                        <th style="width: 33%;">Report</th>
                                        <th style="width: 33%;">Due Date</th>
                                        <th style="width: 33%;">Date Uploaded</th>
                                        <th style="width: 33%;">Status</th>
                                        <th style="width: 33%;">Action</th>
                                    </tr>
                                    <tr style="height: 58px;">
                                        <td style="vertical-align: middle;">Operation Timbang</td>
                                        <td>January 30, {{ year }}</td>
                                        <td>{{ opt_date }}</td>
                                        {% if opt_status == 'Completed' %}
                                            <td class="text-success">
                                                <i class="fa fa-check-circle"></i> {{ opt_status }}
                                            </td>
                                            <td>
                                                <button class="btn btn-primary">View Report</button>
                                            </td>
                                        {% else %}
                                            <td class="text-danger">
                                                <i class="fa fa-exclamation-circle"></i> {{ opt_status }}
                                            </td>
                                            <td style="vertical-align: middle;">
                                                <form class="m-0" method="POST" enctype="multipart/form-data" action="{% url 'datainput:handle_opt_file' %}">
                                                    {% csrf_token %}
                                                    <input type="file" name="eOPT">
                                                    <input class="btn btn-primary btn-sm" type="submit">


                                                </form>
                                            </td>
                                        {% endif %}
                                    </tr>
                                   <tr>
                                       <td>Family Profile</td>
                                       <td>December 30, {{ year }}</td>
                                       <td>{{ fp_date }}</td>
                                       {% if fp_status == 'Incomplete' %}
                                           <td class="text-danger">
                                            <i class="fa fa-exclamation-circle"></i> {{ fp_status }}
                                           </td>
                                           <td>
                                            <a href="{% url 'datainput:family_profiles' %}">
                                                <button class="btn btn-primary">Update Report</button>
                                            </a>
                                           </td>
                                       {% else %}
                                           <td class="text-success">
                                            <i class="fa fa-check-circle"></i> {{ fp_status }}
                                           </td>
                                           <td>
                                            <a href="{% url 'datainput:view_current_fp' %}" class="btn btn-primary">View Report</a>
                                           </td>
                                       {% endif %}
                                   </tr>
                                </tbody>
                            </table>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
var inputs = document.querySelectorAll( '.inputfile' );
Array.prototype.forEach.call( inputs, function( input )
{
	var label	 = input.nextElementSibling,
		labelVal = label.innerHTML;

	input.addEventListener( 'change', function( e )
	{
		var fileName = '';
		if( this.files && this.files.length > 1 )
			fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
		else
			fileName = e.target.value.split( '\\' ).pop();

        console.log(fileName);

		if( fileName )
			$('label').html(fileName);
		else
			label.innerHTML = labelVal;
	});
});
</script>
<style>
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
</style>
{% endblock %}