{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Likha</title>

        <link rel="stylesheet" type="text/css" href="{% static 'core/plugins/bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'core/plugins/css/adminlte.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'core/plugins/font-awesome/css/font-awesome.min.css' %}">
    </head>
    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="login-logo">
                <img src="{% static 'core/images/nnc.png' %}" style="height: 130px" class="img-circle">
                <img src="{% static 'core/images/com.png' %}" style="height: 130px" class="img-circle">
                <h5><br>Mandaluyong City Malnutrition<br>Causal Modelling Analytics System</h5>
            </div>
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Login</h3>
                </div>
                <div class="card-body login-card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="padding-top: 0; padding-bottom:0">
                                <span class="fa fa-user form-control-feedback"></span>
                                    </span>
                            </div>
                            <input class="form-control" placeholder="Username" name="username">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="padding-top: 0; padding-bottom:0">
                                <span class="fa fa-lock form-control-feedback"></span>
                                </span>
                            </div>
                            <input type="password" class="form-control" placeholder="Password" name="password" >
                        </div>

                        <div class="input-group mb-3">
                            <button type="submit" class="btn btn-primary btn-block ">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>