<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>


</head>
<body>

    {% include 'core/helpers/messages.html' %}

    <div class="container">
        <h2>Login</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label>Username</label>
                <input class="form-control" name="username">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input class="form-control" name="password" type="password">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
    </div>
</body>
</html>