{% extends template_values %}
{% block content %}


{% load static %}
<html>
<script src="{% static 'core/js/highcharts.js' %}"></script>
<script src="{% static 'core/js/memo.js' %}"></script>

<div class="content-wrapper" style="height: auto; margin-top: 57px;">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">View Memo</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">View Memo</li>
                    </ol>
                </div>
            </div>
        </div>
        {% include 'core/helpers/messages.html' %}
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary">

                        <div class="card-header d-flex p-0">
                            <h3 class="card-title p-3">{{ memo.subject }}</h3>


                            <ul class="nav nav-pills ml-auto p-2">
                                <li class="nav-item">
                                                                <a class="btn btn-default" style="text-align: center; color: #004876; cursor: pointer;" id="test">PRINT</a>
<script>
    $("#test").click(function() {

				var printWindow = window.open('http://{{ request.get_host }}/memos_print/' + {{ memo.id }}, 'print','left=170, top=60, width=850, height=600, toolbar=0, resizable=0');

			});
</script></li>
                            </ul>


                        </div>


                        <div class="card-body">




<div class="row">

    <div class="col-12">

        <h3>Subject: {{ memo.subject }}</h3>
        <h4>From: {{ memo.uploaded_by.get_name }} ({{ memo.uploaded_by.user_type }})</h4>
        <h4>Date: {{ memo.date|date:"F d, Y"}}</h4>
        <h4>Time: {{ memo.date|time}}</h4>
    </div>

</div>
<hr>
 <div class="row">
     <div class="col-12 p-3">
         <p><b>Barangay addressed to:</b></p>
         {% for x in memo.barangays_addressed_to.all %}
             <p>{{ x.name }}</p>
         {% endfor %}

    </div>


         <div class="col-12 p-3">
             <p><b>Suggested Interventions:</b></p>
             <p style="text-indent: 1in;">{{ memo.suggested_interventions }}</p>
    </div>


    <div class="col-12 p-3">
        <p><b>Comments:</b></p>
        <p style="text-indent: 1in;">{{ memo.comments }}</p>
    </div>
</div>
</div>
</div>
        </div>


<div class="container-fluid m-2">
    <h1 style="text-align: center;" id="metricMain" data-id="{{ memo.metric.id }}">{{ memo.metric.get_data_point|title }}</h1>
    <h3 class="text-center">For the year of {{ memo.date.year }}</h3>
    <div class="row">
                <div class="col-6">
                    <div style="height: 400px;" class="card">
                    <div style="height: 400px;" class="col-12" id="distribution">

                    </div>
                        </div>
                </div>
                <div class="col-6">
                    <div style="height: 400px;" class="card">
                    <div style="height: 400px;" class="col-12" id="main-trend">

                    </div>
                </div>
                        </div>
            </div>

    <div class="row">
        {% for insight in memo.metric.get_insights %}

                <div class="col-4">
                <div class="card" style="height: 400px;">
                    <div class="card-body p-2">
                    <div>
                        <div align="center">
                            <h6 style="text-size: 1em;" class="text-danger">{{ insight.field }}</h6>
                            <p class="font-italic">({{ insight.score }})</p>
                            <b>{{ insight.remark }}</b>
                        </div>

                        <div style="height: 300px;" id="{{ insight.id }}">
                            <script>
                                Highcharts.chart('{{ insight.id }}', {

                                title: {
                                    text: ''
                                },

                                yAxis: {
                                    title: {
                                        text: 'Number of children'
                                    }
                                },
                                legend: {
                                    layout: 'vertical',
                                    align: 'right',
                                    verticalAlign: 'middle'
                                },

                                plotOptions: {
                                    series: {
                                        label: {
                                            connectorAllowed: false
                                        },
                                        pointStart: {{ insight.trend.0.0 }}
                                    }
                                },

                                series: [{
                                    name: '{{ insight.field }}',
                                    data: {{ insight.trend.1 }}
                                }, {
                                    name: '{{ memo.metric.get_data_point }}',
                                    data: {{ memo.metric.to_highcharts.1 }}
                                }],

                                responsive: {
                                    rules: [{
                                        condition: {
                                            maxWidth: 500
                                        },
                                        chartOptions: {
                                            legend: {
                                                layout: 'horizontal',
                                                align: 'center',
                                                verticalAlign: 'bottom'
                                            }
                                        }
                                    }]
                                }
                             });
                            </script>
                        </div>
                    </div>

                </div>
</div></div>
                {% if forloop.counter|divisibleby:"3"  %}
                    </div>
                    <div class="row">
                {% endif %}
            {% endfor %}
    </div>
    </div>

    </section>
</div>
{% endblock %}