{% load static %}

<link rel="stylesheet" href="{% static 'core/plugins/bootstrap/css/bootstrap.min.css' %}">
<script src="{% static 'core/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'core/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'core/js/highcharts.js' %}"></script>
<script src="{% static 'core/js/memo.js' %}"></script>

<h1 id="metricMain" data-id="{{ memo.metric.id }}">{{ memo.metric.get_data_point }}</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h3>Subject: {{ memo.subject }}</h3>
            <h3>Comments: {{ memo.comments }}</h3>
            <h3>Date Uploaded: {{ memo.date|date:"F d, Y" }}</h3>
            <h3>Uploaded by: {{ memo.uploaded_by.get_name }} ({{ memo.uploaded_by.user_type }})</h3>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6">
            <div id="distribution">

            </div>
        </div>

        <div class="col-6">
            <div id="main-trend">

            </div>
        </div>
    </div>

    <div class="row">
        {% for insight in memo.metric.get_insights %}

            <div class="col-4">

                <div>
                    <div align="center">
                        <h5 class="text-danger">{{ insight.field }}</h5>
                        <p class="font-italic">({{ insight.score }})</p>
                        <b>{{ insight.remark }}</b>
                    </div>

                    <div id="{{ insight.id }}">
                        <script>
                            Highcharts.chart('{{ insight.id }}', {

                                title: {
                                    text: ''
                                },

                                yAxis: {
                                    title: {
                                        text: 'Number of children'
                                    }
                                },
                                legend: {
                                    layout: 'vertical',
                                    align: 'right',
                                    verticalAlign: 'middle'
                                },

                                plotOptions: {
                                    series: {
                                        label: {
                                            connectorAllowed: false
                                        },
                                        pointStart: {{ insight.trend.0.0 }}
                                    }
                                },

                                series: [{
                                    name: '{{ insight.field }}',
                                    data: {{ insight.trend.1 }}
                                }, {
                                    name: '{{ memo.metric.get_data_point }}',
                                    data: {{ memo.metric.to_highcharts.1 }}
                                }],

                                responsive: {
                                    rules: [{
                                        condition: {
                                            maxWidth: 500
                                        },
                                        chartOptions: {
                                            legend: {
                                                layout: 'horizontal',
                                                align: 'center',
                                                verticalAlign: 'bottom'
                                            }
                                        }
                                    }]
                                }

                             });
                        </script>
                    </div>
                </div>

            </div>

            {% if forloop.counter|divisibleby:"3"  %}

                </div>
                <div class="row">
            {% endif %}

        {% endfor %}
    </div>
    </div>
</div>
