{% extends 'core/nutritionist-layout.html' %}
{% block content %}

{% load static %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="{% static 'core/js/dashboard.js' %}"></script>

{% include 'core/helpers/messages.html' %}
<div class="content-wrapper" style="height: auto; margin-top: 57px;">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">City Nutritionist Dashboard</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">Nutritionist Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary">
                        <div class="card-header p-0">
                            <h3 class="card-title p-3">DASHBOARD</h3>
                        </div>
{#                        <div class="card-body container-fluid">#}
{#                            <div class="row">#}
{#                                <div class="col-4">#}
{#                                    <h4>City Nutritional Status</h4>#}
{#                                    <table border="1">#}
{#                                        <h5>Weight for Age</h5>#}
{#                                        <tr>#}
{#                                        {% for x in wfa %}#}
{#                                            <td>{{ x.status }}</td>#}
{#                                        {% endfor %}#}
{#                                        </tr>#}
{##}
{#                                        <tr>#}
{#                                        {% for x in wfa %}#}
{#                                            <td>{{ x.sum }}</td>#}
{#                                        {% endfor %}#}
{#                                        </tr>#}
{##}
{#                                        <tr>#}
{#                                        {% for x in wfa %}#}
{#                                            <td>{{ x.prevalence }}</td>#}
{#                                        {% endfor %}#}
{#                                        </tr>#}
{##}
{#                                        <tr>#}
{#                                        {% for x in wfa %}#}
{#                                            <td>{{ x.total }}</td>#}
{#                                        {% endfor %}#}
{#                                        </tr>#}
{#                                    </table>#}
{##}
{#                                <table border="1">#}
{#                                        <h5>Height for Age</h5>#}
{#                                        <tr>#}
{#                                        {% for x in hfa %}#}
{#                                            <td>{{ x.status }}</td>#}
{#                                        {% endfor %}#}
{#                                        </tr>#}
{##}
{#                                        <tr>#}
{#                                        {% for x in hfa %}#}
{#                                            <td>{{ x.sum }}</td>#}
{#                                        {% endfor %}#}
{#                                        </tr>#}
{##}
{#                                        <tr>#}
{#                                        {% for x in hfa %}#}
{#                                            <td>{{ x.prevalence }}</td>#}
{#                                        {% endfor %}#}
{#                                        </tr>#}
{##}
{#                                        <tr>#}
{#                                        {% for x in hfa %}#}
{#                                            <td>{{ x.total }}</td>#}
{#                                        {% endfor %}#}
{#                                        </tr>#}
{#                                    </table>#}
{##}
{#                                <table border="1">#}
{#                                        <h5>Weight for Length/Height</h5>#}
{#                                        <tr>#}
{#                                        {% for x in wfh %}#}
{#                                            <td>{{ x.status }}</td>#}
{#                                        {% endfor %}#}
{#                                        </tr>#}
{##}
{#                                        <tr>#}
{#                                        {% for x in wfh %}#}
{#                                            <td>{{ x.sum }}</td>#}
{#                                        {% endfor %}#}
{#                                        </tr>#}
{##}
{#                                        <tr>#}
{#                                        {% for x in wfh %}#}
{#                                            <td>{{ x.prevalence }}</td>#}
{#                                        {% endfor %}#}
{#                                        </tr>#}
{##}
{#                                        <tr>#}
{#                                        {% for x in wfh %}#}
{#                                            <td>{{ x.total }}</td>#}
{#                                        {% endfor %}#}
{#                                        </tr>#}
{#                                    </table>#}
{#                                </div>#}
{#                                <div class="col-4">#}
{#                                    <h4>City Micronutrient Supplementation</h4>#}
{#                                    <div id="micro-dashboard">#}
{##}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-4">#}

{#                                </div>#}
{#                            </div>#}
{#                            <div class="row">#}
{#                                <div class="col-4">#}
{#                                    <h4>City Maternal Care </h4>#}
{#                                    <div id="maternal-dash">#}
{##}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-4">#}
{#                                    <h4>City Children Care</h4>#}
{#                                    <div id="childcare-dash">#}
{##}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-4">#}
{#                                    <h4>Socioeconomic Status</h4>#}
{#                                    <div id="socio-dash" class="container-fluid">#}
{#                                        <div class="row">#}
{#                                            <div class="col-4 container-fluid" id="family">#}
{##}
{#                                            </div>#}
{#                                            <div class="col-4" id="salt">#}
{##}
{#                                            </div>#}
{#                                            <div class="col-4" id="ebf">#}
{##}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
                        <div class="card-body container-fluid">
                            <!-- PAAYOS LAYOUT NG DASHBOARD -->
                            <div class="row">
                                <div class="col-4 text-center">
                                    <b class="text-info">Under construction nutritional status dashboard </b>
                                </div>
                                <div class="col-4">
                                    <div id="micro-dashboard">

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">

                                </div>
                                <div class="col-4">

                                </div>
                                <div class="col-4 text-center">
                                    <b style="font-size: 7rem;" class="text-success">{{ average_families }}</b>
                                    <p style="font-size: 2rem;">Average Number of Members per Family in the City</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
            </div>

<div class="row">



<div class="col-4">

<div class="col-12 p-0">
<div class="card">
<div class="card-body">
<div id="maternal-dash">

</div>
</div>
</div>
</div>

<div class="col-12 p-0">
<div class="card">
<div class="card-body">
<div id="childcare-dash">

</div>
</div>
</div>
</div>

</div>
<div class="col-4">

<div class="col-12 p-0">
<div class="card">
<div class="card-body">
<div id="ebf">

</div>
</div>
</div>
</div>

<div class="col-12 p-0">
<div class="card">
<div class="card-body">
<div id="salt">

</div>
</div>
</div>
</div>

</div>
<div class="col-4">

<div class="card col-12 p-0">
<div class="card-header no-border" style="text-align: center;">
<h3 class="card-title">Incomplete Reports</h3>
</div>
<div class="card-body p-1">
<table id="familyprofile_overview" class="table table-bordered dataTable">
<thead>
    <tr>
        <th>Barangay</th>
        <th>Report </th>
        <th>Due Date</th>
        <th>Action</th>
    </tr>
</thead>
<tbody>
{% for x in todo_list %}
    <tr>
        <td>{{ x.barangay }}</td>
        <td>{{ x.report_name }}</td>
        <td>{{ x.due_date }}</td>
        <td><a href="{% url 'datainput:notify_bns' x.barangay x.report_name %}" class="btn btn-danger" style="color: white">Notify</a></td>
    </tr>
{% endfor %}
</tbody>
</table>
<script>
    $(document).ready(function() {
        $('#familyprofile_overview').DataTable({
            "paging": true,
            "lengthChange": false,
            "lengthMenu": [10],
            "ordering": false,
            "autoWidth": false,
            "searching": false
        });
    });
</script>
</div>
</div>

</div>
</div>
        </div>
    </section>
</div>
{% endblock %}