<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nutritionist</title>
</head>
<body>
    {% include 'core/helpers/messages.html' %}
    <h1>Nutritionist</h1>

    <h3>Gawin tong dashboard</h3>

    <p><a href="{% url 'datainput:nutritionist_upload' %}">Data Upload</a></p>
    <p><a href="{% url 'datainput:data_status_index' %}">Data Status</a></p>
    <p><a href="{% url 'datapreprocessing:index' %}">Metrics and Thresholds</a></p>
    <p><a>Correlations and Forecasts</a></p>
    <p><a>Reports and Visualizations</a></p>
    <p><a>Causal Models</a></p>


</body>
</html>