{% extends layout %}
{% block content %}


{% load static %}

<script src="{% static 'causalmodel/js/go-debug.js' %}"></script>
<script src="{% static 'causalmodel/js/diagram.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

<div class="content-wrapper" style="height: auto; margin-top: 57px;">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">
                        {% if profile.user_type == 'Nutritionist' %}
                        City Nutritionist
                        {% else %}
                        City Program Coordinator
                        {% endif %}
                        Causal Modeling Facility</h1>
                        <h1 id='theYear' style="display: none;">{{ year_get }}</h1>
                        <h1 id='current' style="display: none;">{{ current.id }}</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">
                            {% if profile.user_type == 'Nutritionist' %}
                            Nutritionist
                            {% else %}
                            Program Coordinator
                            {% endif %}
                            Causal Model</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    {% include 'core/helpers/messages.html' %}
    <section class="content">
        <div class="container-fluid">

        <div class="card p-3 container-fluid">
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label>Select year</label>
                                <select id="xx" class="form-control" name="cm-year" onchange="change(document.getElementById('xx').value)">
                                {% for x in years %}
                                    <option value="{{ x }}">{{ x }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <hr>

            </div>
            <div class="card p-3 container-fluid">
{#                    <a href="{% url 'causalmodel:add_root_cause' %}" style="float:right;"><button class="btn btn-primary">Add Root Cause</button></a>#}
                <table class="table mt-3 table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Metric</th>
                        <th class="text-right">Value</th>
                        <th>Source</th>
                        <th>Frequency</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cause in roots %}
                        {% for metric in cause.datamap_set.all %}
                            <tr>
                                {% if forloop.counter0 == 0 %}
                                    <th class="text-center" rowspan="{{ cause.datamap_set.count }}" style="vertical-align: middle">{{ cause.name }}</th>
                                {% endif %}
                                <td>{{ metric.get_metric.get_data_point }}</td>
                                <td class="text-right">{{ metric.get_metric.get_total_value|floatformat }}</td>
                                <td>{{ metric.get_metric.get_document }}</td>
                                {% if forloop.counter0 == 0 %}
                                    <td rowspan="{{ cause.datamap_set.count }}" style="vertical-align: middle">
                                    {% for x in cause.appeared_in %}
                                        <div>
                                            <a href="{% url 'causalmodel:index' x %}">
                                                {{ x }}
                                            </a>
                                        </div>
                                    {% endfor %}
                                    </td>
                                {% endif %}
                                <td>
                                    <a href="{% url 'causalmodel:view_summary' metric.get_metric.id  %}">
                                        <button class="btn btn-sm btn-primary">View Summary</button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>

                <div class="card p-3 container-fluid">
                    <div class="row">
                    {% if not current %}
                        <div class="col-12 text-center mb-4">
                            <p>There are no causal models for {{ year_get }} yet</p>
                            <a href="{% url 'causalmodel:produce_causal_model' %}">
                                <button class="btn btn-primary">+ Create Causal Model</button>
                            </a>
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-8" style="height:573.953">
                        <div id="tree-holder">
                            <div>
                                <div style='height: 558px;' class='card'><p style="text-align: center; margin-top: 22%;"></p></div>

                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card" style="height: 40%">
                            <div class="comment-holder" style="overflow-y: scroll;">
                            </div>
                        </div>
                        <div class="submit-comment-holder card p-3" style="height: 135px;">
                            {% if models %}
                            <div class="form-group cm-commands" style="display: none;">
                                <input class="form-control" id="comment-main" placeholder="Enter comment here">
                                <button class="btn btn-primary mt-3" id="submit_comment">Submit</button>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}