<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Root Causes</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'core/plugins/bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container">

        <h1>Root Causes</h1>
        <a href="{% url 'causalmodel:add_root_cause' %}"><button class="btn btn-primary">Add Root Cause</button></a>
        <table class="table mt-3 table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Metric</th>
                <th class="text-right">Value</th>
                <th>Source</th>
            </tr>
            </thead>
            <tbody>
            {% for cause in root_causes %}
                {% for metric in cause.datamap_set.all %}
                    <tr>
                        {% if forloop.counter0 == 0 %}
                            <th class="text-center" rowspan="{{ cause.datamap_set.count }}" style="vertical-align: middle">{{ cause.name }}</th>
                        {% endif %}
                        <td>{{ metric.get_metric.get_data_point }}</td>
                        <td class="text-right">{{ metric.get_metric.get_total_value|floatformat }}</td>
                        <td>{{ metric.get_metric.get_document }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>

    </div>
</body>
</html>