{% extends template_values %}
{% block content %}


{% load static %}


<script src="{% static 'causalmodel/js/go-debug.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="{% static 'core/js/highcharts.js' %}"></script>
<script src="{% static 'causalmodel/js/view_summary.js' %}"></script>
<script src="{% static 'causalmodel/js/bootstrap-tagsinput.js' %}"></script>
<script src="{% static 'causalmodel/js/bootstrap3-typeahead.min.js' %}"></script>
<script src="{% static 'causalmodel/js/my-typeahead.js' %}"></script>
<script src="{% static 'causalmodel/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'causalmodel/js/popper.js' %}"></script>

<script src="{% static 'causalmodel/js/add_intervention.js' %}"></script>

<link rel="stylesheet" href="{% static 'causalmodel/css/bootstrap-tagsinput.css' %}">
<link rel="stylesheet" href="{% static 'causalmodel/css/bootstrap-datepicker3.min.css' %}">

<div class="content-wrapper" style="height: auto; margin-top: 57px;">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 id="metricMain" data-id="{{ metric.id }}">{{ metric.get_data_point }}</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">
                            {% if profile.user_type == 'Nutritionist' %}
                            Nutritionist
                            {% else %}
                            Program Coordinator
                            {% endif %}
                            View Summary</li>
                    </ol>
                </div>
            </div>
        </div>

    {% include 'core/helpers/messages.html' %}
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <div style="height: 400px;" class="card">
                    <div style="height: 400px;" class="col-12" id="distribution">

                    </div>
                        </div>
                </div>
                <div class="col-6">
                    <div style="height: 400px;" class="card">
                    <div style="height: 400px;" class="col-12" id="main-trend">

                    </div>
                </div>
                        </div>
            </div>
<div class="row">
            <div class="col-{% if profile.user_type == 'Nutritionist'  %}12
{% else %}6
{% endif %}">

                <div class="row mb-3">
            <h4 style="margin: auto;">{{ metric.get_data_point }} is <b>STRONGLY</b> correlated with:</h4>
        </div>
        <div class="row">

            {% for insight in metric.get_insights %}

                <div class="col-{% if profile.user_type == 'Nutritionist'  %}4
{% else %}6
{% endif %}">
                <div class="card" style="height: 400px;">
                    <div class="card-body p-2">
                    <div>
                        <div align="center">
                            <h6 style="text-size: 1em;" class="text-danger">{{ insight.field }}</h6>
                            <p class="font-italic">({{ insight.score }})</p>
                            <b>{{ insight.remark }}</b>
                        </div>

                        <div style="height: 300px;" id="{{ insight.id }}">
                            <script>
                                Highcharts.chart('{{ insight.id }}', {

                                    title: {
                                        text: ''
                                    },

                                    yAxis: {
                                        title: {
                                            text: 'Number of children'
                                        }
                                    },
                                    legend: {
                                        layout: 'vertical',
                                        align: 'right',
                                        verticalAlign: 'middle'
                                    },

                                    plotOptions: {
                                        series: {
                                            label: {
                                                connectorAllowed: false
                                            },
                                            pointStart: {{ insight.trend.0.0 }}
                                        }
                                    },

                                    series: [{
                                        name: '{{ insight.field }}',
                                        data: {{ insight.trend.1 }}
                                    }, {
                                        name: '{{ metric.get_data_point }}',
                                        data: {{ metric.to_highcharts.1 }}
                                    }],

                                    responsive: {
                                        rules: [{
                                            condition: {
                                                maxWidth: 500
                                            },
                                            chartOptions: {
                                                legend: {
                                                    layout: 'horizontal',
                                                    align: 'center',
                                                    verticalAlign: 'bottom'
                                                }
                                            }
                                        }]
                                    }

                                 });
                            </script>
                        </div>
                    </div>

                </div>
</div></div>
            {% if profile.user_type == 'Nutritionist'  %}
                {% if forloop.counter|divisibleby:"3"  %}
                    </div>
                    <div class="row">
                {% endif %}
            {% else %}
                {% if forloop.counter|divisibleby:"2"  %}
                    </div>
                    <div class="row">
                {% endif %}
            {% endif %}
            {% endfor %}
        </div>
</div>

{% if profile.user_type != 'Nutritionist'  %}
    <div class="col-6">
        <div class="card card-primary">
            <div class="card-header p-0">
                <h3 class="card-title p-3">Create Memo</h3>
            </div>
            <div class="card-body" id="hidden-barangays" data-barangays="{{ barangays }}">
            <form method="POST">
                {% csrf_token %}

                <div class="form-group">
                    <label>Subject</label>
                    <input class="form-control" name="subject" id="subject-input" value="Program Interventions for [Date]">
                </div>
                <div class="form-group">
                    <label>Recipients</label>
                    <input type="text" class="form-control" name="recipients" id="recipients-input">
                    <input type="hidden" name="metric" value="{{ metric.id }}">
                </div>
                <div class="form-group">
                    <label>Suggested Interventions</label>
{#                    <textarea style="height: 300px;" class="form-control" name="suggested_interventions">{% for i in metric.parse_interventions %} {{ forloop.counter }}. {{ i }} &#13;&#10;{% endfor %}</textarea>#}
{#                    <input type="hidden" name="metric" value="{{ metric.id }}">#}
                    <p class="ml-1"><u>Interventions in Previous Memos:</u></p>
                    <div class="intervention-container mb-4">
                        {% for intervention in metric.suggestedintervention_set.all %}
                            {% if intervention.frequency > 0 %}
                                <div class="intervention-select">
                                    <input type="checkbox" name="interventions" value="{{ intervention.name }}">
                                    <label class="form-check-label" data-toggle="tooltip" data-placement="top" title="{{ intervention.reason }}">
                                        {{ intervention.name }}
                                        <span class="font-italic">

                                            <a href="{% url 'causalmodel:referencing_memo' intervention.last_proposed_date intervention.id %}">
                                               ({{ intervention.last_proposed }})
                                            </a>

                                        </span>
                                    </label>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <p class="ml-1"><u>Manually Added Interventions:</u></p>
                    <div class="intervention-container-manual mb-4">
                        {% for intervention in metric.suggestedintervention_set.all %}
                            {% if intervention.frequency == 0 %}
                                <div class="intervention-select">
                                    <input type="checkbox" name="interventions" value="{{ intervention.name }}">
                                    <label class="form-check-label" data-toggle="tooltip" data-placement="top" title="{{ intervention.reason }}">
                                        {{ intervention.name }}
                                        <span class="font-italic">({{ intervention.last_proposed }})</span>
                                    </label>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <p class="ml-1"><u>Interventions of Correlated Metrics:</u></p>
                    <div class="intervention-container">
                        {% for intervention in metric.get_all_related_interventions %}
                                <div class="intervention-select">
                                    <input type="checkbox" name="interventions" value="{{ intervention.name }}">
                                    <label class="form-check-label" data-toggle="tooltip" data-placement="top" title="{{ intervention.reason }}">
                                        {{ intervention.name }}
                                        <span class="font-italic">({{ intervention.metric.get_data_point }})</span>
                                    </label>
                                </div>
                        {% endfor %}
                    </div>
                    <div class="ml-3 font-italic text-info mt-3" style="cursor: pointer;" data-toggle="modal" data-target="#add-intervention-modal">
                        + Add Intervention
                    </div>


                </div>
                <div class="form-group">
                    <label>Comments / Notes</label>
                    <textarea style="height: 300px;" class="form-control" name="comments"></textarea>
                    <input type="hidden" name="metric" value="{{ metric.id }}">
                </div>
                <input type="submit" value="Submit" class="btn btn-primary">
            </form></div></div>
        </div>
{% endif %}



    </div>

        </div>
    </section>

    <div class="modal fade" id="add-intervention-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Intervention</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" data-metric="{{ metric.id }}">
            <div class="form-group">
                <label>Intervention Name</label>
                <input type="text" class="form-control" id="intervention-name">
            </div>
            <div class="form-group">
                <label>Reason</label>
                <select id="intervention-reason" class="form-control">
                    <option selected>Select Reason</option>
                    <option>From Strategic Planning</option>
                    <option>National Initiative</option>
                    <option>Innovative Programs</option>
                </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="add-intervention-btn">Save</button>
          </div>
        </div>
      </div>
    </div>
</div>

<script>

    $(function() {

        $('[data-toggle="tooltip"]').tooltip()

        var subjectInput = $("#subject-input");

        subjectInput.datepicker({
            format: "MM dd, yyyy"
        }).on('changeDate', function(e) {
            $(this).val("Program Interventions for " + moment(e.date).format("MMMM D, YYYY"));
        }).on('hide', function(e) {
            $(this).val("Program Interventions for " + moment(e.date).format("MMMM D, YYYY"));
        });
    });

</script>

{% endblock %}