<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>City Children Care Report</title>

    {% load static %}

    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous">
    </script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="{% static 'visualizations/js/child_care.js' %}"></script>
</head>
<body>
    <h1>City Child Care Report</h1>

    <div id="container">

    </div>

</body>
</html>