<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visualizations and Reports</title>
</head>
<body>
    <h1>Visualizations and Reports</h1>

    <ul>
        <li><a href="{% url 'visualizations:nutritional_status' %}">City Nutritional Status Report</a></li>
        <li><a href="{% url 'visualizations:micronutrient' %}">City Micronutrient Supplementation Report</a></li>
        <li><a>City Maternal Care Report</a></li>
        <li><a>City Children Care Report</a></li>
        <li><a>Socioeconomic Impact on Malnutrition Report</a></li>
        <li><a>Health Care Waste Management Report</a></li>
        <li><a>Unemployment Reports</a></li>
        <li><a>Customizable Reports</a></li>
    </ul>
</body>
</html>