{% extends 'core/pc_layout.html' %}
{% block content %}

{% load static %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

<div class="content-wrapper" style="height: auto; margin-top: 57px;">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Reports Facility</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">Reports Facility</li>
                    </ol>
                </div>
            </div>
        </div>
{% include 'core/helpers/messages.html' %}
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <table class="table table-hover table-bordered">
                        <thead class="thead-dark">
                        <tr>
                            <th>Report</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>City Nutritional Status</td>
                            <td>
                                <a href="{% url 'visualizations:report1' %}">
                                    <button class="btn btn-primary">View</button>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>City Micronutrient Supplementation</td>
                            <td>
                                <a href="{% url 'visualizations:report3' %}">
                                    <button class="btn btn-primary">View</button>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>City Maternal Care</td>
                            <td>
                                <a href="{% url 'visualizations:report5' %}">
                                    <button class="btn btn-primary">View</button>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>City Children Care</td>
                            <td>
                                <a href="{% url 'visualizations:report4' %}">
                                    <button class="btn btn-primary">View</button>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Socioeconomic Status</td>
                            <td>
                                <a href="{% url 'visualizations:report2' %}">
                                    <button class="btn btn-primary">View</button>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

