{% extends 'core/nutritionist-layout.html' %}
{% block content %}

{% include 'core/helpers/messages.html' %}
<div class="content-wrapper" style="height: auto; margin-top: 57px;">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">City Nutritionist Correlations and Forecasts</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">Correlations and Forecasts</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary">
                        <div class="card-header d-flex p-0">
                            <h3 class="card-title p-3">Correlations and Forecasts</h3>
                            <p id="positive">View Positive Correlations Only</p>
                        </div>
                        <div class="card-body">
                            <table id="correlation_overview" class="table table-bordered table-hover dataTable">
                                <thead>
                                <tr>
                                    <th style="width: 24%;">Category</th>
                                    <th style="width: 14%;">Source</th>
                                    <th style="width: 24%;">Field</th>
                                    <th style="width: 10%;">Score</th>
                                    <th style="width: 10%;">Add as Root Cause</th>
                                    <th style="width: 10%;">Forecasts</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for s in scores %}
                                    <tr class="correlation-row">
                                        <td>{{ s.category }}</td>
                                        <td>{{ s.source }}</td>
                                        <td>{{ s.field }}</td>
                                        <td class="score">{{ s.score }}</td>
                                        <td><a>Add as Root Cause</a></td>
                                        {% if not s.score == 0 %}
                                            <td style="text-align: center;"><a class="btn btn-primary btn-sm col-11" href="{% url 'datamining:forecast' forloop.counter0 %}">Go</a></td>
                                        {% else %}
                                            <td>N/A</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <script>
                                $(document).ready(function() {

                                    var table = $("#correlation_overview");
                                    var dt;

                                    dt = table.DataTable({
                                        "paging": true,
                                        "lengthChange": true,
                                        "ordering": true,
                                        "autoWidth": false
                                    });

                                    $("#positive").click(function() {

                                        dt.destroy();

                                        dt = table.DataTable({
                                        "paging": false,
                                        "lengthChange": true,
                                        "ordering": true,
                                        "autoWidth": false
                                        });

                                        $('tr.correlation-row').each(function(){

                                        var score = parseFloat($(this).children('td.score').html());

                                        if (score <= 0)
                                            $(this).hide();

                                        });

                                        dt.destroy();

                                        dt = table.DataTable({
                                        "paging": true,
                                        "lengthChange": true,
                                        "ordering": true,
                                        "autoWidth": false
                                        });

                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
