{% extends template_values %}
{% block content %}


{% load static %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="{% static 'datamining/js/revised_metrics.js' %}"></script>

<div class="content-wrapper" style="height: auto; margin-top: 57px;">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">
                        {% if profile.user_type == 'Nutritionist' %}
                        City Nutritionist
                        {% else %}
                        City Program Coordinator
                        {% endif %}
                        Correlations and Forecasts</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">
                            {% if profile.user_type == 'Nutritionist' %}
                            Nutritionist
                            {% else %}
                            Program Coordinator
                            {% endif %}
                            Correlations and Forecasts</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    {% include 'core/helpers/messages.html' %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary">
                        <div class="card-header d-flex p-0">
                            <h3 class="card-title p-3">Correlations and Forecasts</h3>
                            <ul class="nav nav-pills ml-auto p-2">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle target" data-toggle="dropdown" href="#" aria-expanded="false">
                                        Select Category <span class="caret"></span>
                                    </a>
                                    <div class="dropdown-menu white" x-placement="bottom-start" style="position: absolute; transform: translate3d(-33px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <a class="dropdown-item test-click" href="#tab_1" data-toggle="tab" style="color: #000;">Micronutrient Supplementation</a>
                                        <a class="dropdown-item test-click" href="#tab_2" data-toggle="tab" style="color: #000;">City Maternal Care</a>
                                        <a class="dropdown-item test-click" href="#tab_3" data-toggle="tab" style="color: #000;">City Child Care</a>
                                        <a class="dropdown-item test-click" href="#tab_4" data-toggle="tab" style="color: #000;">Socioeconomic</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active show" id="initial">
                                    <p style="text-align: center; margin: 30px;">Please Select a Category</p>
                                </div>
<div class="tab-pane" id="tab_1">

            <h2>Micronutrient</h2>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th style="width: 30%;">Field</th>
                    <th style="width: 25%;" class="text-center">Weight for Age</th>
                    <th style="width: 10%;" class="text-center">Height for Age</th>
                    <th style="width: 10%;" class="text-center">Weight for Height/Length</th>
                    <th style="width: 10%;">Action</th>
                </tr>
                </thead>
                <tbody>

                {% for m in micro %}
{#                    {% for category in m.data %}#}
{#                        <tr data-vars="{{ category.variables }}">#}
{#                            {% if forloop.counter0 == 0 %}#}
{#                                <td class="field" rowspan="{{ m.data|length }}" style="vertical-align: middle">{{ m.field }}</td>#}
{#                            {% endif %}#}
{#                            {% if forloop.counter0 == 0 %}#}
{#                                <td class="source" rowspan="{{ m.data|length }}" style="vertical-align: middle; display: none;">{{ m.source }}</td>#}
{#                            {% endif %}#}
{#                            <td>{{ category.category }}</td>#}
{#                            <td class="text-right">{{ category.score }}</td>#}
{#                            <td>{{ category.remark }}</td>#}
{#                            {% if forloop.counter0 == 0 %}#}
{#                                 <td rowspan="{{ m.data|length }}" style="vertical-align: middle">#}
{#                                    <button class="btn btn-primary btn-sm col-12" data-toggle="modal" data-target="#viewCorrelationGraph">#}
{#                                        View#}
{#                                    </button>#}
{#                                 </td>#}
{#                            {% endif %}#}
{##}
{#                        </tr>#}
{#                    {% endfor %}#}

                     <tr data-variables="{{ m.variables }}">
                        <td class="field">{{ m.field }}</td>
                        <td class="source" style="vertical-align: middle; display: none;">{{ m.source }}</td>
                        {% for a in m.data %}
                            <td class="text-center"><p>{{ a.remark }}</p><p>({{ a.score }})</p>
                            <p>{{ m.mark }} - {{ a.mark }}</p></td>
                        {% endfor %}
                        <td>
                             <button class="btn btn-primary btn-sm col-12" data-toggle="modal" data-target="#viewCorrelationGraph">
                                View
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
</div>
                                <div class="tab-pane" id="tab_2">
            <h2>Maternal Care</h2>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th style="width: 30%;">Field</th>
                    <th style="width: 25%;" class="text-center">Weight for Age</th>
                    <th style="width: 10%;" class="text-center">Height for Age</th>
                    <th style="width: 10%;" class="text-center">Weight for Height/Length</th>
                    <th style="width: 10%;">Action</th>
                </tr>
                </thead>
                <tbody>

                {% for m in maternal %}
{#                    {% for category in m.data %}#}
{#                        <tr data-vars="{{ category.variables }}">#}
{#                            {% if forloop.counter0 == 0 %}#}
{#                                <td class="field" rowspan="{{ m.data|length }}" style="vertical-align: middle">{{ m.field }}</td>#}
{#                            {% endif %}#}
{#                            {% if forloop.counter0 == 0 %}#}
{#                                <td class="source" rowspan="{{ m.data|length }}" style="vertical-align: middle; display: none;">{{ m.source }}</td>#}
{#                            {% endif %}#}
{#                            <td>{{ category.category }}</td>#}
{#                            <td class="text-right">{{ category.score }}</td>#}
{#                            <td>{{ category.remark }}</td>#}
{#                            {% if forloop.counter0 == 0 %}#}
{#                                 <td rowspan="{{ m.data|length }}" style="vertical-align: middle">#}
{#                                    <button class="btn btn-primary btn-sm col-12" data-toggle="modal" data-target="#viewCorrelationGraph">#}
{#                                        View#}
{#                                    </button>#}
{#                                 </td>#}
{#                            {% endif %}#}
{##}
{#                        </tr>#}
{#                    {% endfor %}#}
                    <tr data-variables="{{ m.variables }}">
                        <td class="field">{{ m.field }}</td>
                        <td class="source" style="vertical-align: middle; display: none;">{{ m.source }}</td>
                        {% for a in m.data %}
                            <td class="text-center"><p>{{ a.remark }}</p><p>({{ a.score }})</p></td>
                        {% endfor %}
                        <td>
                             <button class="btn btn-primary btn-sm col-12" data-toggle="modal" data-target="#viewCorrelationGraph">
                                View
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
</div>
                                <div class="tab-pane" id="tab_3">
            <h2>Children Care</h2>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th style="width: 30%;">Field</th>
                     <th style="width: 25%;" class="text-center">Weight for Age</th>
                    <th style="width: 10%;" class="text-center">Height for Age</th>
                    <th style="width: 10%;" class="text-center">Weight for Height/Length</th>
                    <th style="width: 10%;">Action</th>
                </tr>
                </thead>
                <tbody>

                {% for m in child_care %}
{#                    {% for category in m.data %}#}
{#                        <tr data-vars="{{ category.variables }}">#}
{#                            {% if forloop.counter0 == 0 %}#}
{#                                <td class="field" rowspan="{{ m.data|length }}" style="vertical-align: middle">{{ m.field }}</td>#}
{#                            {% endif %}#}
{#                            {% if forloop.counter0 == 0 %}#}
{#                                <td class="source" rowspan="{{ m.data|length }}" style="vertical-align: middle; display: none;">{{ m.source }}</td>#}
{#                            {% endif %}#}
{#                            <td>{{ category.category }}</td>#}
{#                            <td class="text-right">{{ category.score }}</td>#}
{#                            <td>{{ category.remark }}</td>#}
{#                            {% if forloop.counter0 == 0 %}#}
{#                                 <td rowspan="{{ m.data|length }}" style="vertical-align: middle">#}
{#                                    <button class="btn btn-primary btn-sm col-12" data-toggle="modal" data-target="#viewCorrelationGraph">#}
{#                                        View#}
{#                                    </button>#}
{#                                 </td>#}
{#                            {% endif %}#}
{##}
{#                        </tr>#}
{#                    {% endfor %}#}
                    <tr data-variables="{{ m.variables }}">
                        <td class="field">{{ m.field }}</td>
                        <td class="source" style="vertical-align: middle; display: none;">{{ m.source }}</td>
                        {% for a in m.data %}
                            <td class="text-center"><p>{{ a.remark }}</p><p>({{ a.score }})</p></td>
                        {% endfor %}
                        <td>
                             <button class="btn btn-primary btn-sm col-12" data-toggle="modal" data-target="#viewCorrelationGraph">
                                View
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
</div>
                                <div class="tab-pane" id="tab_4">
            <h2>Socioeconomic</h2>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th style="width: 30%;">Field</th>
                     <th style="width: 25%;" class="text-center">Weight for Age</th>
                    <th style="width: 10%;" class="text-center">Height for Age</th>
                    <th style="width: 10%;" class="text-center">Weight for Height/Length</th>
                    <th style="width: 10%;">Action</th>
                </tr>
                </thead>
                <tbody>

                {% for m in socio %}
{#                    {% for category in m.data %}#}
{#                        <tr data-vars="{{ category.variables }}">#}
{#                            {% if forloop.counter0 == 0 %}#}
{#                                <td class="field" rowspan="{{ m.data|length }}" style="vertical-align: middle">{{ m.field }}</td>#}
{#                            {% endif %}#}
{#                            {% if forloop.counter0 == 0 %}#}
{#                                <td class="source" rowspan="{{ m.data|length }}" style="vertical-align: middle; display: none;">{{ m.source }}</td>#}
{#                            {% endif %}#}
{#                            <td>{{ category.category }}</td>#}
{#                            <td class="text-right">{{ category.score }}</td>#}
{#                            <td>{{ category.remark }}</td>#}
{#                            {% if forloop.counter0 == 0 %}#}
{#                                 <td rowspan="{{ m.data|length }}" style="vertical-align: middle">#}
{#                                    <button class="btn btn-primary btn-sm col-12" data-toggle="modal" data-target="#viewCorrelationGraph">#}
{#                                        View#}
{#                                    </button>#}
{#                                 </td>#}
{#                            {% endif %}#}
{##}
{#                        </tr>#}
{#                    {% endfor %}#}
                    <tr data-variables="{{ m.variables }}">
                        <td class="field">{{ m.field }}</td>
                        <td class="source" style="vertical-align: middle; display: none;">{{ m.source }}</td>
                        {% for a in m.data %}
                            <td class="text-center"><p>{{ a.remark }}</p><p>({{ a.score }})</p></td>
                        {% endfor %}
                        <td>
                             <button class="btn btn-primary btn-sm col-12" data-toggle="modal" data-target="#viewCorrelationGraph">
                                View
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
</div>
            <script>
                                $(document).ready(function() {
                                    $('.dataTables').DataTable({
                                        "paging": true,
                                        "lengthChange": false,
                                        "lengthMenu": [5],
                                        "ordering": false,
                                        "autoWidth": false,
                                        "searching": false
                                    });
                                });
                            </script>
            <style>
                h5 {
                    padding-left: 20px;
                    padding-top: 20px;
                }
                body {
                    padding-right: 0px !important;
                }

                @media (min-width: 768px) {
                  .modal-xl {
                    width: 90%;
                   max-width:1900px;
                  }
                }
            </style>
                                </div>
</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- CORRELATION GRAPH MODAL -->
<div class="modal fade" id="viewCorrelationGraph" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Correlation Graph <span class="for-remark text-danger font-italic"></span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid" id="scatterGraph">
            <div class="row">

            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#setThreshold" id="btnThreshold">Set Threshold</button>
      </div>
    </div>
  </div>
</div>

<!-- SET THRESHOLD MODAL -->
<div class="modal fade bd-example-modal-lg" id="setThreshold" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Set Threshold</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="averageValues">

        </div>

        <div class="text-center">
            <p><b id="field"></b>
                <select id="high">
                    <option value="1">is greater than</option>
                    <option value="2">is less than</option>
                </select>
                <input type="number" id="threshold">

                set to <b class="text-danger">CRITICAL</b>
            </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="addMetric">Submit</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
