<h1>Child Care Report</h1>

<h1>Child Care</h1>

<table border=1>
    <thead>
        <tr>
            <th>Barangay</th>
            {% for field in data.cc_fields %}
                <th>{{ field }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for d in data.data %}
            <tr>
                {% for a in d %}
                    <td>{{ a }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

<h1>Immunizations</h1>

<table border=1>
    <thead>
        <tr>
            <th>Barangay</th>
            {% for field in data.imm_fields %}
                <th>{{ field }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for d in data.immunization %}
            <tr>
                {% for a in d %}
                    <td>{{ a }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

<h1>Malaria</h1>

<table border=1>
    <thead>
        <tr>
            <th>Barangay</th>
            {% for field in data.malaria_fields %}
                <th>{{ field }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for d in data.malaria %}
            <tr>
                {% for a in d %}
                    <td>{{ a }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

<h1>Tuberculosis</h1>

<table border=1>
    <thead>
        <tr>
            <th>Barangay</th>
            {% for field in data.tb_fields %}
                <th>{{ field }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for d in data.tuberculosis %}
            <tr>
                {% for a in d %}
                    <td>{{ a }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

<div>
    <p>Comments/Insights</p>
    <p>{{ report.comments }}</p>
</div>