<h1>Maternal Care Report</h1>

<table border="1">
    <thead>
    <tr>
        <th>Barangay</th>
        {% for f in data.fields %}
            <th>{{ f }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for a in data.data %}
        <tr>
            {% for x in a %}

                {% if forloop.counter0 == 0 %}
                <td>{{ x }}</td>
                {% else %}
                <td align="right">{{ x }}</td>
                {% endif     %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>

<div>
    <p>Comments/Insights</p>
    <p>{{ report.comments }}</p>
</div>