{% extends layout %}

{% block content %}

    {% load static %}
    <script src="{% static 'configurations/js/interventions.js' %}"></script>

    <div class="content-wrapper" style="height: auto; margin-top: 57px;">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Suggested Interventions</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item active">
                                {% if profile.user_type == 'Nutritionist' %}
                                Nutritionist
                                {% else %}
                                Program Coordinator
                                {% endif %}
                                Set Suggested Interventions</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        {% include 'core/helpers/messages.html' %}
        <section class="content">
            <div class="container-fluid">
                <div class="col-12">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                        <tr>
                            <th>Metric</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for metric in metrics %}
                            <tr>
                                <td>{{ metric.get_data_point }}</td>
                                <td>
                                    <button data-id="{{ metric.id }}" class="btn btn-primary" data-target="#intervention-modal" data-toggle="modal">Set Interventions</button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>

    <div id="intervention-modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Suggested Interventions</h5>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary add-intervention">Add</button>
                    <button class="btn btn-success save">Save</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}